<!-- snippets/collection-list-item -->
{% comment %}

  This snippet is used to showcase each collection during the loop,
  'for product in collection.products' in list-collections.liquid.

{% endcomment %}
{% capture collection_title %}{{ collection.title | escape }}{% endcapture %}

<h1 class="visuallyhidden">{{ 'collections.general.catalog_title' | t }}</h1>
<h2 class="h1 text-center">{{ collection_title }}</h2>

<div class="grid-uniform">
  {% for product in collection.products limit: 3 %}
    {% assign grid_item_width = 'medium--one-half large--one-third' %}
    {% assign featured = product %}
    <div class="grid-item {{ grid_item_width }}">
      {% include 'product-grid-item' %}
    </div>
  {% endfor %}
</div>

<p class="text-center"><a href="{{ collection.url }}" title="{{ 'collections.general.link_title' | t: title: collection_title }}">{{ 'collections.sorting.all_of_collection' | t: collection: collection.title }} <span class="icon icon-chevron-right" aria-hidden="true"></span></a></p>
