/*============================================================================
  #Styles
==============================================================================*/

h1, h2, h3, h4, h5, h6 {
  {% if settings.type_header_transform %}
    text-transform: uppercase;
  {% endif %}
}

.btn {
  {% if settings.type_buttons_transform %}
  text-transform: uppercase;
  {% endif %}
}

label,
legend {
  {% if settings.type_header_transform %}
    text-transform: uppercase;
  {% endif %}
}

.site-nav {
  {% if settings.type_navigation_transform %}
    text-transform: uppercase;
  {% endif %}
}

.nav-secondary {
  {% if settings.type_navigation_transform %}
    text-transform: uppercase;
  {% endif %}
}

.article-pagination,
.product-pagination {
  {% if settings.type_navigation_transform %}
    text-transform: uppercase;
  {% endif %}
}

.site-footer {
  padding: 0 0 $gutter;
}

.tag {
  {% if settings.type_navigation_transform %}
    text-transform: uppercase;
  {% endif %}
}

.breadcrumb {
  {% if settings.type_navigation_transform %}
    text-transform: uppercase;
  {% endif %}
}

.featured-box__body {
  .btn--large {
    {% if settings.type_buttons_transform %}
      text-transform: uppercase;
    {% endif %}
  }
}

.social-sharing {
  a {
    {% if settings.type_buttons_transform %}
      text-transform: uppercase;
    {% endif %}
  }
}

.blog__name,
.collection-title {
  {% if settings.type_navigation_transform %}
    text-transform: uppercase;
  {% endif %}
}

.blog-post-single,
.blog-post {
  .meta {
    {% if settings.type_navigation_transform %}
      text-transform: uppercase;
    {% endif %}
  }
}

.cart__mini-labels {
  {% if settings.type_header_transform %}
    text-transform: uppercase;
  {% endif %}
}

.cart__remove {
  {% if settings.type_buttons_transform %}
    text-transform: uppercase;
  {% endif %}
}

.password-login {
  {% if settings.type_buttons_transform %}
    text-transform: uppercase;
  {% endif %}
}

$colorBlankstate: rgba($colorTextBody, 0.35);
$colorBlankstateBorder: rgba($colorTextBody, 0.15);
$colorBlankstateBackground: rgba($colorTextBody, 0.05);

.placeholder-svg, .icon--placeholder {
  display: block;
  fill: $colorBlankstate;
  background-color: $colorBlankstateBackground;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  border: 1px solid $colorBlankstateBorder;
}

.collection-grid .placeholder-svg {
  max-height: 515px;
  max-width: 515px;
  margin: 0 auto;
}

.placeholder-noblocks {
  padding: 40px;
  text-align: center;
}

// Mimic a background image by wrapping the placeholder svg with this class
.placeholder-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  .icon {
    border: 0;
  }
}

// Custom styles for some blank state images
.image-bar__content .placeholder-image {
  position: absolute;
  top: 0;
  left: 0;
}

.flexslider .placeholder-svg {
  @include at-query($min, $large) {
    height: 402px;
  }
}

// Overwrite height settings for collection grid.
.grid-link__image-centered {
  .placeholder-svg {
    height: initial;
    max-height: initial;
  }
}


/*================ Module-specific styles ================*/
.feature-row {
  @include display-flexbox();
  @include justify-content(space-between);
  @include align-items(center);

  @include at-query ($max, $medium) {
    @include flex-direction(column);
  }
}

.feature-row__item {
  @include flex(0 1 50%);

  @include at-query($max, $medium) {
    @include flex(1 1 auto);
    max-width: 100%;
  }
}

.feature-row__image {
  display: block;
  margin: 0 auto;
  max-width: 100%;

  @include at-query ($max, $medium) {
    order: 1;
  }
}

.feature-row__text {
  padding-top: $sectionSpacingSmall;
  padding-bottom: $sectionSpacingSmall;

  @include at-query ($max, $medium) {
    order: 2;
    padding-bottom: 0; // always last element on mobile
  }
}

@include at-query ($min, $large) {
  .feature-row__text--left {
    padding-left: $sectionSpacingSmall;
  }

  .feature-row__text--right {
    padding-right: $sectionSpacingSmall;
  }
}

@include at-query ($min, $large) {
  .featured-row__subtext {
    font-size: em($baseFontSize + 2);
  }
}

.page-content__item:not(:first-child) {
  margin-top: 30px;
}


/*============================================================================
  #Basic Styles
==============================================================================*/
html, body {
  background-color: $colorMenu;
  padding: 0;
  margin: 0;
  color: $colorTextBody;
}

.main-content {
  display: block;
  margin-top: $gutter;
}

.wrapper {
  max-width: $siteWidth;
  margin: 0 auto;
  padding: 0 ($gutter / 2);

  @include clearfix();

  @include at-query ($min, $small) {
    padding: 0 $gutter;
  }

  @include at-query ($min, $large) {
    padding: 0 ($gutter * 2);

    .site-header & {
      padding: 0 20px;
    }
  }
}

/*============================================================================
  #Helper Classes
==============================================================================*/
.table-contain {
  display: table;
  height: 100%;
  width: 100%;
}

.table-contain__inner {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}

/*============================================================================
  #Typography
==============================================================================*/
body,
input,
textarea,
button,
select {
  border-radius: 0;
  font-family: $secondaryFontStack;
  font-size: $baseFontSize;
  font-weight: 300;
  line-height: 2;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

input,
textarea,
button,
select {
  font-family: $primaryFontStack;
}

h1, h2, h3, h4, h5, h6 {
  color: $colorTextHeader;
  font-family: $primaryFontStack;
  font-weight: $headerFontWeight;
  line-height: 1.6;
  margin: 0 0 0.5em;

  a {
    font-weight: inherit;
  }
}

/*================ Use em() Sass function to declare font-size ================*/
h1 {
  font-size: em(32px);
}

h2 {
  font-size: em(24px);
}

h3 {
  font-size: em(22px);
}

h4 {
  font-size: em(20px);
}

h5 {
  font-size: em(18px);
}

h6 {
  font-size: em(14px);
}


.h1 { @extend h1; }
.h2 { @extend h2; }
.h3 { @extend h3; }
.h4 { @extend h4; }
.h5 { @extend h5; }
.h6 { @extend h6; }

p {
  margin: 0 0 ($gutter / 2) 0;

  img {
    margin: 0;
  }
}

em {
  font-style: italic;
}

b, strong {
  font-weight: bold;
}

small {
  font-size: 80%;
}

sup, sub {
  position: relative;
  font-size: 60%;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}

sub {
  bottom: -0.5em;
}

/*================ Blockquotes ================*/
blockquote {
  font-size: em(18px);
  line-height: em(24px);
  font-style: italic;
  margin: 0 0 $gutter;
  padding: ($gutter / 2) 0;

  p {
    margin-bottom: 0;

    & + cite {
      margin-top: $gutter / 2;
    }
  }

  cite {
    display: block;
    font-size: 0.75em;

    &:before {
      content: "\2014 \0020";
    }
  }

  @include at-query ($min, $large) {
    font-size: em(24px);
    line-height: em(30px);
    margin-left: -20%;
    width: 140%;
    text-align: center;
  }
}

/*================ Code ================*/
code, pre {
  background-color: #faf7f5;
  font-family: Consolas,monospace;
  font-size: 1em;
  border: 0 none;
  padding: 0 2px;
  color: #51ab62;
}

pre {
  overflow: auto;
  padding: $gutter / 2;
  margin: 0 0 $gutter;
}

/*================ Horizontal Rules ================*/
hr {
  clear: both;
  border-top: solid $colorBorder;
  border-width: 1px 0 0;
  margin: $gutter 0;
  height: 0;

  &.hr--small {
    border-width: $borderWidth 0 0;
    margin: ($gutter / 2) auto;
    width: 20px;
  }

  &.hr--clear {
    margin-top: 0;
    border: 0;
  }

  @include at-query ($min, $large) {
    margin: ($gutter * 2) 0;
  }
}

/*================ Section Headers ================*/
.section-header {
  margin-bottom: $gutter / 1.5;

  .form-horizontal {
    display: inline-block;
    vertical-align: middle;
  }
}

@include at-query ($min, $large) {
  .section-header {
    display: table;
    width: 100%;
  }

  .section-header__title {
    margin-bottom: $gutter / 2.5;
  }
}

/*============================================================================
  #Rich Text Editor
==============================================================================*/
.rte {
  margin-bottom: $gutter / 2;
  line-height: 1.7;
  color: $colorTextBody;
  // Add some top margin to headers from the rich text editor
  h1, h2, h3, h4, h5, h6 {
    margin-top: 1em;
    text-align: center;
    color: $colorTextHeader;

    &:first-child {
      margin-top: 0;
    }
  }

  h3 {
    font-size: em(18px);
  }

  & > div {
    margin-bottom: $gutter / 2;
  }

  ul, ol {
    margin-left: 35px;
  }

  &.text-center, .text-center & {
    ul, ol {
      margin-left: 0;
      list-style-position: inside;
    }
  }

  ul {
    @extend ul.disc;
    ul {
      list-style-type: circle;
      ul {
        @extend ul.square;
      }
    }
  }

  li {
    margin-bottom: 0.4em;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  @include at-query ($min, $large) {
    .banner-img {
      width: 120%;
      max-width: 120%;
      margin-left: -10%;
      margin-right: -10%;
    }

    img:not([style]){
      display: block;
      margin: 0 auto;
    }
  }

  table {
    table-layout: fixed;
  }
}

.rte-header {
  margin-bottom: 0;
}

/*============================================================================
  #Links and Buttons
==============================================================================*/
a {
  color: $colorLink;
  background: transparent;
  text-decoration: none;
}

a:hover,
a:focus {
  color: $colorTextBody;
}

button {
  overflow: visible;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

.btn {
  background-color: $colorBtnPrimary;
  color: $colorBtnText;
  border: $borderWidth solid transparent;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  font-family: $primaryFontStack;
  line-height: 1.42;
  margin: 0;
  padding: ($gutter / 4) ($gutter / 2);
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  -webkit-appearance: none;
  -moz-appearance: none;

  @include prefix('user-select', 'none');
  @include transition('all 0.5s ease');

  &:hover {
    background-color: $colorBtnPrimaryHover;
    color: $colorBtnText;
  }

  &:active,
  &:focus {
    background-color: $colorBtnPrimaryActive;
    color: $colorBtnText;
  }

  &[disabled],
  &.disabled {
    cursor: default;
    color: $disabledBorder;
    background-color: $disabledGrey;
  }
}

.btn--secondary,
input.btn--secondary {
  @extend .btn;
  background-color: $colorBtnSecondary;

  &:hover {
    background-color: $colorBtnSecondaryHover;
    color: $colorBtnText;
  }

  &:active,
  &:focus {
   background-color: $colorBtnSecondaryActive;
   color: $colorBtnText;
  }
}

.btn--small {
  padding: 4px 5px;
  font-size: em(12px);
}

.btn--large {
  padding: 12px 15px;
  font-size: em(16px);
}

.btn--full {
  width: 100%;
  white-space: normal;
}

/*================ Force an input/button to look like a text link ================*/
.text-link {
  display: inline;
  border: 0 none;
  background: none;
  padding: 0;
  margin: 0;
}

/*============================================================================
  #Lists
==============================================================================*/
ul, ol {
  margin: 0 0 $gutter;
  padding: 0;
}

ul { list-style: none outside; }
ol { list-style: decimal; }
ul ul, ul ol,
ol ol, ol ul { margin: 4px 0 5px 20px; }
li { margin-bottom: 0.25em; }

ol, ul.square, ul.disc { margin-left: 20px; }
ul.square { list-style: square outside; }
ul.disc { list-style: disc outside; }
ol.alpha { list-style: lower-alpha outside; }

.inline-list li {
  display: inline-block;
  margin-bottom: 0;
}

/*============================================================================
  #Tables
==============================================================================*/
table {
  border: $borderWidth solid $colorBorder;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;

  p {
    margin-bottom: 0;
  }
}

table.full {
  width: 100%;
  margin-bottom: 1em;
}

th {
  font-weight: bold;
}

th, td {
  text-align: left;
  padding: $gutter / 2;
  border: 1px solid $colorBorder;
}


/*============================================================================
  #Images and Iframes
==============================================================================*/
img {
  border: 0 none;
}

svg:not(:root) {
  overflow: hidden;
}

img.auto,
.grid-item img,
.grid-item iframe {
  max-width: 100%;
}

.video-wrapper {
  position: relative;
  overflow: hidden;
  max-width: 100%;
  padding-bottom: 56.25%;
  height: 0;
  height: auto;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}


/*============================================================================
  #Forms
==============================================================================*/
::-webkit-input-placeholder {
  color: $colorTextBody;
  opacity: 0.6;
}

:-moz-placeholder { /* Firefox 18- */
  color: $colorTextBody;
  opacity: 0.6;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: $colorTextBody;
  opacity: 0.6;
}

:-ms-input-placeholder {
  color: $colorTextBody;
  opacity: 0.6;
}

::-ms-input-placeholder { /* Edge 12+ */
  color: $colorTextBody;
  opacity: 1;
}

form {
  margin: 0 0 ($gutter / 2);
}

select {
  font-size: em(12px);
}

button,
input[type="text"],
input[type="search"],
input[type="password"],
input[type="email"],
input[type="file"],
input[type="number"],
input[type="tel"],
input[type="submit"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
}

button#update, button#checkout {
  margin-bottom: 3px;
}

input,
textarea,
select,
fieldset {
  max-width: 100%;

  &.input-full {
    width: 100%;
  }
}

input,
select,
textarea {
  padding: ($gutter / 2) ($gutter * 0.45);
  line-height: 1.42;
}

input {
  padding: ($gutter / 3) ($gutter * 0.45);
}

fieldset {
  border: $borderWidth solid $colorBorder;
  padding: $gutter / 2;
}

legend {
  border: 0;
  padding: 0;
}

optgroup {
  font-weight: bold;
}

input {
  display: inline-block;
  width: auto;
}

button,
input[type="submit"] {
  cursor: pointer;
}

input[type="submit"] {
  @extend .btn;
}

/*================ Input width and border ================*/
input[type="text"],
input[type="search"],
input[type="password"],
input[type="email"],
input[type="file"],
input[type="number"],
input[type="tel"],
textarea,
select {
  background-color: $colorBody;
  color: $colorTextBody;
  border: $borderWidth solid $colorBorder;
  width: 100%;
  max-width: 100%;
  display: block;
  margin: 0 0 1em;

  .input-group & {
    border: 0;
    border-right: 1px solid $colorBorder;
  }

  &:focus {
    border: inherit solid darken($colorBorder, 10%);
  }

  &[disabled],
  &.disabled {
    cursor: default;
    background-color: $disabledGrey;
    border-color: $disabledBorder;
  }
}

textarea {
  min-height: 100px;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin: 0;
  padding: 0;
}

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-position: right center;
  background: {
    image: url($selectIcon);
    repeat: no-repeat;
    position: right 10px center;
    size: 6px;
    color: $colorBody;
  }
  padding-right: 28px;
  text-indent: 0.01px;
  text-overflow: '';
  cursor: pointer;

  /*================ Hide the svg arrow in IE9 and below ================*/
  .ie9 &,
  .lt-ie9 & {
    background-image: none;
    padding-right: 10px;
  }
}

select::-ms-expand {
    display: none;
}

/*================ Form labels ================*/
label,
legend {
  color: $colorTextBody;
  display: block;
  margin-bottom: 2px;
  font-family: $primaryFontStack;
  font-size: em(12px);
  font-weight: bold;

  &.inline {
    display: inline;
  }
}

/*================ Accessible labels ====================*/

.visuallyhidden {
  @include visuallyHidden;
}

/*================ Off-screen labels with placeholder ================*/
.form-label--hidden {
  display: inline;  // reset margins and helps FF deal with the input on a SR

  .ie9 &,
  .lt-ie9 & {
    .visuallyhidden {
      clip: auto;
      height: auto;
      margin: 0;
      overflow: visible;
      position: static;
      width: auto;
    }
  }
}

/*================ We don't want the same label treatment for checkboxes/radios ================*/
input[type="checkbox"] + label,
input[type="radio"] + label {
  font-weight: normal;
}

label[for] {
  cursor: pointer;
}

.label-hint {
  color: #999;
}

/*================ Horizontal Form ================*/
form.form-horizontal,
.form-horizontal {
  margin-bottom: 0;

  input[type="text"],
  input[type="search"],
  input[type="password"],
  input[type="email"],
  input[type="file"],
  input[type="number"],
  input[type="tel"],
  textarea,
  select,
  label {
    display: inline-block;
    margin-bottom: 0;
    width: auto;
  }
}

/*================ Error styles ================*/
input[type="text"],
input[type="search"],
input[type="password"],
input[type="email"],
input[type="file"],
input[type="number"],
input[type="tel"],
textarea {
  &.error {
    border-color: $errorRed;
    background-color: $errorRedBg;
    color: $errorRed;
  }
}

label.error {
  color: $errorRed;
}


/*================ Input Group ================*/
.input-group {
  border: $borderWidth solid $colorBorder;
  border-collapse: separate;
  display: table;
  position: relative;

  input {
    // Nasty Firefox hack for inputs http://davidwalsh.name/firefox-buttons
    &::-moz-focus-inner {
      border: 0;
      padding: 0;
      margin-top: -1px;
      margin-bottom: -1px;
    }
  }
}

.input-group-field,
.input-group-btn {
  display: table-cell;
  vertical-align: middle;
  margin: 0;
}

.input-group .btn,
.input-group .input-group-field {
  height: 37px;
}

.input-group .input-group-field {
  width: 100%;
  margin-bottom: 0;
}

.input-group-btn {
  position: relative;
  white-space: nowrap;
  width: 1%;
  padding: 0;

  .btn {
    background-color: transparent;

    .icon {
      color: $colorTextBody;
      position: relative;
      top: 1px;
    }
  }
}

/*============================================================================
  #Icons
==============================================================================*/
.icon-fallback-text .icon {
  display: none;

  .supports-fontface & {
    display: inline-block;
  }
}

/*============================================================================
  A generic way to visually hide content while
  remaining accessible to screen readers (h5bp.com)
==============================================================================*/
.supports-fontface .icon-fallback-text .fallback-text {
  clip: rect(0 0 0 0);
  overflow: hidden;
  position: absolute;
  height: 1px;
  width: 1px;
}

.icon:before {
  display: none;
}

.supports-fontface .icon:before {
  display: inline;
  font-family: $socialIconFontStack;
  speak: none; // future fallback, limited in effect currently
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*================ Icon mapping ================*/
.icon-apple_pay:before { content: "\e904"; }
.icon-amazon_payments:before { content: "\e800"; }
.icon-american_express:before { content: "\41"; }
.icon-bitcoin:before { content: "\42"; }
.icon-cart:before { content: "\e600"; }
.icon-chevron-down:before { content: "\e606"; }
.icon-chevron-left:before { content: "\e605"; }
.icon-chevron-right:before { content: "\e602"; }
.icon-chevron-up:before { content: "\e608"; }
.icon-cirrus:before { content: "\43"; }
.icon-comment:before { content: "\e60b"; }
.icon-cross:before { content: "\e60d"; }
.icon-dankort:before { content: "\64"; }
.icon-diners_club:before { content: "\63"; }
.icon-discover:before { content: "\44"; }
.icon-dogecoin:before { content: "\e908"; }
.icon-dwolla:before { content: "\e900"; }
.icon-facebook:before { content: "\66"; }
.icon-fancy:before { content: "\46"; }
.icon-forbrugsforeningen:before { content: "\e901"; }
.icon-google_plus:before { content: "\e902"; }
.icon-hamburger:before { content: "\e601"; }
.icon-instagram:before { content: "\e903"; }
.icon-interac:before { content: "\49"; }
.icon-jcb:before { content: "\4a"; }
.icon-litecoin:before { content: "\e907"; }
.icon-maestro:before { content: "\6d"; }
.icon-master:before { content: "\4d"; }
.icon-minus:before { content: "\e609"; }
.icon-paypal:before { content: "\50"; }
.icon-pinterest:before { content: "\70"; }
.icon-plus:before { content: "\e60a"; }
.icon-rss:before { content: "\72"; }
.icon-search:before { content: "\e60f"; }
.icon-snapchat:before { content: "\e909"; }
.icon-stripe:before { content: "\53"; }
.icon-tag:before { content: "\e60c"; }
.icon-tumblr:before { content: "\74"; }
.icon-twitter:before { content: "\54"; }
.icon-vimeo:before { content: "\76"; }
.icon-visa:before { content: "\56"; }
.icon-youtube:before { content: "\79"; }

.payment-icons {
  cursor: default;
  margin: 0;

  li {
    margin: 0 0 0 ($gutter / 4);
    color: $colorFooterSocial;
    cursor: default;
  }

  li:first-child {
    margin: 0;
  }

  .icon {
    font-size: 30px;
    line-height: 30px;
  }

  .fallback-text {
    text-transform: capitalize;
  }

  @include prefix('user-select', 'none');
}

.social-icons {
  margin: 0;
}

.social-icons li {
  margin: 0 0 0 ($gutter / 3);
  vertical-align: middle;

  &:first-child {
    margin: 0;
  }

  .icon {
    font-size: 24px;
    line-height: 26px;
  }

  a {
    color: $colorFooterSocial;

    &:hover {
      color: darken($colorFooterSocial, 10%);
    }
  }
}

/*============================================================================
  #Pagination
==============================================================================*/
.pagination {
  margin-bottom: 1em;
}

.pagination-custom {
  display: inline-block;
  margin: $gutter 0 $gutter;
  font-family: $primaryFontStack;
  padding-left: 0;
}

.pagination-custom > li {
  display: inline;
}

.pagination-custom > li > a,
.pagination-custom > li > span {
  float: left;
  line-height: 1.42;
  margin-left: -1px;
  padding: 5px 10px;
  position: relative;
}

.pagination-custom > li:first-child > a,
.pagination-custom > li:first-child > span {
  margin-left: 0;
}

.pagination-custom > .active > a,
.pagination-custom > .active > span,
.pagination-custom > .active > a:hover,
.pagination-custom > .active > span:hover,
.pagination-custom > .active > a:focus,
.pagination-custom > .active > span:focus {
  color: $colorTextBody;
  cursor: default;
  z-index: 2;
}

.pagination-custom > .disabled > span,
.pagination-custom > .disabled > a,
.pagination-custom > .disabled > a:hover,
.pagination-custom > .disabled > a:focus {
  color: $colorTextBody;
  cursor: not-allowed;
}

.pagination-custom-lg > li > a,
.pagination-custom-lg > li > span {
  font-size: em(18px);
  padding: 10px 16px;
}

.pagination-custom-sm > li > a,
.pagination-custom-sm > li > span {
  padding: 5px 10px;
  font-family: $primaryFontStack;
  font-size: em(12px);
}

/*============================================================================
  #Site Header
==============================================================================*/
.site-header {
  background: {
    color: $colorMenu;
  }
  overflow-y: visible;
  font-family: $primaryFontStack;
  @include transition('left 0.5s cubic-bezier(0.75, 0.03, 0.52, 1)');

  .hr--small {
    border-color: color-control($colorMenu, 10%);
  }

  .supports-csstransforms & {
    @include transition('transform 0.5s cubic-bezier(0.75, 0.03, 0.52, 1)');
  }

  @include at-query ($min, $large) {
    height: 100%;
    overflow-y: auto;
    left: 0;
    padding: ($gutter * 3) 0 0;
    position: fixed;

    .hr--small {
      margin: ($gutter / 2) auto $gutter;
    }

    .grid {
      display: table;
      table-layout: fixed;
      width: 100%;

      & > .grid-item {
        float: none;
        display: table-cell;
        vertical-align: middle;
      }
    }
  }
}

.header-logo {
  text-align: center;
  font-size: em(24px);
  margin: 0 auto;
  word-wrap: break-word;
  line-height: 1;

  @include at-query ($min, $large) {
    margin-top: 5px;
    margin-bottom: $gutter * 2;
    font-size: em(32px);
    line-height: em(20px);
  }

  a, img {
    color: $colorMenuText;
    display: block;
  }

  img {
    margin: 0 auto;
    max-width: 100%;
    width: auto;
  }

  @include at-query ($min, $large) {
    img {
      max-height: none;
    }
  }
}

.site-header--text-links {
  margin-bottom: 0;
}

.search-bar {
  max-width: 100%;

  @include at-query ($max, $medium) {
    margin: 0 auto;
  }
}

/*============================================================================
  #Site Nav and Dropdowns
==============================================================================*/

.nav-bar {
  .page-move--nav & {
    height: 100%;
  }

  .grid-item {
    height: 100%;
  }

  .icon {
    color: $colorMenuText;
  }

  .wrapper {
    padding: 0;
  }

  @include at-query ($min, $large) {
    .lt-ie9 & {
      margin-top: -$gutter;
    }
  }
}

.site-nav {
  cursor: default;
  font-size: em($menuFontSize);
  margin: 0;
  width: 100%;

  li {
    border-top: $borderWidth solid color-control($colorMenu, 10%);
    margin: 0;
  }

  li:first-child {
    border-top: 0;
  }

  li:last-child {
    border-bottom: $borderWidth solid color-control($colorMenu, 10%);
  }

  @include at-query ($min, $large) {
    text-align: center;

    li,
    li:last-child {
      border: 0;
    }
  }

  .grid-item {
    position: relative;
  }
}

@include at-query ($min, $large) {
  .lt-ie9 .site-nav {
    display: inline-table;

    ul {
      margin: 0;
    }

    li {
      border: 0;
      display: inline;
    }
  }
}

.site-nav__link {
  color: $colorMenuText;
  display: inline-block;
  font-weight: 300;
  padding: $gutter / 2;
  white-space: normal;
  max-width: 160px;
  width: 100%;

  &:active,
  &:hover,
  &:focus {
    color: lighten($colorMenuText, 10%);
  }

  .site-nav__child-link--active & {
    opacity: 1;
    color: color-control-text($colorMenuText, 25%);
  }

  @include transition('all 0.3s ease');

  @include at-query ($max, $medium) {
    min-width: 250px;

    &.site-nav__linknodrop {
      padding-left: $gutter / 2;
    }
  }

  @include at-query ($min, $large) {
    padding: 0 0 ($gutter / 2);

    &:active,
    &:hover,
    &:focus {
      @include transform('none');
    }
  }
}

.site-nav__linkdrop {
  @extend .site-nav__link;

  @include at-query ($max, $large) {
    width: auto;
    min-width: 0;
    padding-right: 0;
  }
}

.site-nav__linkdroparrow {
  @extend .site-nav__link;

  padding-left: $gutter / 2;
}

.site-nav__dropdown {
  background-color: color-control($colorMenu, 10%);
  display: none;

  a {
    text-transform: none;
    opacity: 0.7;
    max-width: 160px;
    white-space: normal;
  }

  li {
    border-top: 1px solid color-control($colorMenu, 20%);
  }

  li:first-child {
    border-top: 1px solid color-control($colorMenu, 20%);
  }

  li:last-child {
    border-bottom: 0;
  }

  .site-nav--open-dropdown & {
    display: block;
  }

  @include at-query ($max, $large) {
    margin: 0;
  }

  @include at-query ($min, $large) {
    margin: -10px 0 30px;
    background-color: transparent;

    a {
      padding: 0;
    }

    li,
    li:first-child {
      border: 0;
    }
  }
}

.site-nav--active,
.site-nav--active a {
  opacity: 1;
  color: color-control-text($colorMenuText, 25%);
}

.site-nav__dropdown-toggle {
  font-size: em(17px);
  float: right;
  background-color: transparent;
  color: $colorLink;

  &:hover {
    background-color: transparent;
    color: $colorLinkHover;
  }

  @include at-query($min, $large) {
    display: inline-block;
    float: none;
    padding: 0;
    position: absolute;
    bottom: calc(50% - 6px);
    width: auto;
  }

  @include at-query ($max, $large) {
    padding-top: 20px;
    padding-bottom: 12px;
    position: absolute;
  }
}

.site-nav__label {
  @include at-query ($min, $large) {
    display: inline-block;
    padding: 0 0 $gutter / 2;
    width: auto;
    white-space: normal;
    max-width: 130px;
  }
}

.site-nav__dropdown-icon--close {
  display: none;
}

.site-nav--open-dropdown {
  .site-nav__dropdown-icon--close {
    display: inline-block;
  }

  .site-nav__dropdown-icon--open {
    display: none;
  }
}

/*================ Mobile Nav ================*/

.cart-toggle,
.nav-toggle {
  color: $colorMenuText;
  display: inline-block;
  text-align: center;
  width: 100%;

  &:active,
  &:hover,
  &:focus {
    color: lighten($colorMenuText, 10%);
  }
}

.cart-toggle {
  font-size: em(18px);
}

.nav-toggle {
  font-size: em(22px);
}

@include at-query ($min, $large) {
  .cart-toggle {
    font-size: $menuFontSize;
    height: auto;
    margin: 0;
    width: auto;
  }
}

.hidden-count {
  display: none;
}

.nav-mobile {
  position: absolute;
  background-color: $colorMenu;
  font-family: $primaryFontStack;
  height: 100%;
  top: 0;
  left: 0;
  height: 100%;
  font-family: $primaryFontStack;
  z-index: 0;
  overflow: hidden;
  @include transition('left 0.5s cubic-bezier(0.75, 0.03, 0.52, 1)');

  .supports-csstransforms & {
    @include transition('all 0.5s cubic-bezier(0.75, 0.03, 0.52, 1)');
  }

  @include at-query ($min, $large) {
    display: none;
  }

  .page-move--nav {
    position:absolute
  }

  .mobile-drawer--open & {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
}

.page-wrapper {
  background-color: $colorBody;
  min-height: 100%;
}

.page-element.activated {
  @include transition('left 0.5s cubic-bezier(0.75, 0.03, 0.52, 1)');
}

.page-element {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;

  @include at-query ($max, $large) {
    width: 100%;
  }

  .page-move--nav &,
  .page-move--cart & {
    overflow: hidden;
  }

  .supports-csstransforms & {
    @include transition('all 0.5s cubic-bezier(0.75, 0.03, 0.52, 1)');
  }
}

/*============================================================================
  #Drawers
==============================================================================*/
.page-move--nav,
.page-move--cart,
.page-move--toggled {
  overflow: hidden;
}

.page-element {
  .page-move--nav & {
    box-shadow: 0 10px 15px darken($colorMenu, 20%);
  }

  .page-move--cart & {
    box-shadow: 0 10px 15px darken($colorMenu, 20%);
    left: -$cartWidthSmall;

    @include at-query($min, $large) {
      left: -$cartWidthLarge;
    }

    .supports-csstransforms & {
      left: 0;
      @include transform(translateX(-$cartWidthSmall));

      @include at-query($min, $large) {
        @include transform(translateX(-$cartWidthLarge));
      }
    }
  }
}

/*================ Move individual elements ================*/
.page-move--nav {
  .ajaxify-drawer {

    .supports-csstransforms & {
      right: 0;
    }
  }
}

.page-move--cart {
  @include at-query($min, $large) {
    .site-header {
      left: -100%;

      .supports-csstransforms & {
        left: 0;
        @include transform(translateX(-100%));
      }
    }
  }

  .nav-mobile {
    left: -$cartWidthSmall;

    @include at-query($min, $large) {
      left: -$cartWidthLarge;
    }

    .supports-csstransforms & {
      left: 0;
      @include transform(translateX(-$cartWidthSmall));

      @include at-query($min, $large) {
        @include transform(translateX(-$cartWidthLarge));
      }
    }
  }
}

/*================ Search bar =================*/

.nav-search {
  @include at-query ($max, $medium) {
    margin: 0 0 ($gutter / 2);
  }
}

/*================ Secondary nav ================*/

.nav-secondary {
  font-family: $primaryFontStack;
  font-size: em(12px);
  margin: 0 0 ($gutter / 2);

  a {
    color: $colorFooterLink;

    &:hover {
      color: lighten($colorFooterLink, 20%);
    }
  }

  li {
    margin: 0 0 0 ($gutter / 2);
  }

  li:first-child {
    margin: 0;
  }
}

/*================ Page nav ====================*/

.article-pagination,
.product-pagination {
  border: $borderWidth solid $colorBorder;
  border-width: $borderWidth 0;
  font-family: $primaryFontStack;
  font-size: em(12px);
  margin: $gutter 0;
  padding: $gutter 0;

  &.last {
    border-bottom: 0;
    padding-bottom: 0;
  }

  p {
    margin: 0;
  }

  .article-pagination__sep,
  .product-pagination__sep {
    padding: 0 ($gutter / 4);
  }

  @include at-query ($min, $large) {
    margin: ($gutter * 2) 0;
  }
}

/*============================================================================
  #Site Footer
==============================================================================*/
.site-footer {
  background-color: $colorBody;
  color: $colorTextBody;

  @include at-query ($max, $large) {
    small {
      display: block;
      padding-top: 30px;
    }
  }

  a {
    color: $colorFooterLink;
  }

  hr {
    border-color: $colorBorder;
  }

  input[type="text"],
  input[type="search"],
  input[type="password"],
  input[type="email"],
  input[type="file"],
  input[type="number"],
  input[type="tel"],
  textarea,
  select {
    border-color: $colorBorder;
    color: $colorTextBody;
  }

  .input-group {
    border-color: $colorBorder;

    .icon {
      color: $colorTextBody;
    }
  }

  .onboarding-header {
    margin-bottom: 15px;
  }

  .rte {
    h1, h2, h3, h4, h5, h6 {
      text-align: left;

      @include at-query ($max, $large) {
        text-align: center;
      }
    }

    ul, ol {
      @include at-query ($max, $large) {
        margin-left: 0;
        list-style-position: inside;
      }
    }
  }
}

/*============================================================================
  #Index sections
==============================================================================*/
.index-section {
  padding-top: $sectionSpacingSmall;
  padding-bottom: $sectionSpacingSmall;

  @include at-query($min, $medium) {
    padding-top: $sectionSpacing;
    padding-bottom: $sectionSpacing;
  }

  &:first-child {
    padding-top: 0;
    border-top: 0;
  }

  &:last-child {
    padding-bottom: 0;
  }
}

.index-section--flush + .index-section--flush {
  margin-top: -($sectionSpacingSmall * 2);

  @include at-query($min, $medium) {
    margin-top: -($sectionSpacing * 2);
  }
}

// Flush sections should be tight to the nav if they are the first on the page
.index-section--flush:first-child {
  margin-top: -$sectionSpacingSmall;

  @include at-query($min, $medium) {
    margin-top: -$sectionSpacing;
  }
}

// Flush sections should be tight to the footer if they are last on the page
.index-section--flush:last-child {
  margin-bottom: -$sectionSpacingSmall;

  @include at-query($min, $medium) {
    margin-bottom: -$sectionSpacing;
  }
}

// Visually align featured product section (if first on homepage on mobile)
@include at-query($max, $medium) {
  .index-section--featured-product:first-child {
    margin-top: -12px;
  }
}

/*============================================================================
  #Blank states - placeholder images
==============================================================================*/

$colorBlankstate: rgba($colorTextBody, 0.35);
$colorBlankstateBorder: rgba($colorTextBody, 0.15);
$colorBlankstateBackground: rgba($colorTextBody, 0.05);

.placeholder-svg {
  display: block;
  fill: $colorBlankstate;
  background-color: $colorBlankstateBackground;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  border: 1px solid $colorBlankstateBorder;
}

.placeholder-noblocks {
  padding: 40px;
  text-align: center;
}

// Mimic a background image by wrapping the placeholder svg with this class
.placeholder-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  .icon {
    border: 0;
  }
}

// Custom styles for some blank state images
.image-bar__content .placeholder-svg {
  position: absolute;
  top: 0;
  left: 0;
}

/*============================================================================
  #Product Grid and List Views
==============================================================================*/

.product {
  display: block;
  margin-bottom: $gutter;

  @include at-query($min, $large) {
    position: relative;
  }
}

.product-wrapper {
  position: relative;
}

/*================ This hacks all the grid-items in IE8 and below ================*/

.lt-ie9 {
  .product-grid {
    .grid-item {
      display: inline-block;
      float: none;
      margin-bottom: $gutter;
      margin-left: -3px;
      padding: 0;

      .product {
        margin-bottom: 0;
      }
    }
  }

  .product-wrapper {
    margin: 0 ($gridGutter / 2);
  }
}

.product:hover {
  @include at-query($min, $large) {
    .product__cover,
    .product__details {
      opacity: 1;
    }

    .product__cover,
    .product__img {
      @include transform('scale(1.03, 1.03)');

      /*================ Remove hover in IE8 and below ================*/
      .lt-ie9 & {
        @include transform('none');
      }
    }
  }
}

.product__img {
  display: block;
  margin: 0 auto;

  @include at-query($min, $large) {
    position: relative;

    @include transition('all 0.5s');
    @include backface();
  }
}

.product__details {
  @include transition('opacity 0.75s');
}

.product__cover {
  @include transition('all 0.5s');

  @include at-query($min, $large) {
    background-color: rgba($colorProductHover,0.9);
  }

  .lt-ie9 .product__cover {
    display: none;
  }
}

.product__price {
  font-size: $baseFontSize;
}

.product__title {
  font-size: em(17px);
  margin: ($gutter / 2) 0 0 0;
  line-height: 1.5;

  @include at-query (null, $small, $large) {
    .large--one-quarter & {
      font-size: em(12px);
    }
  }
}


.tag {
  background-color: $disabledGrey;
  color: $disabledBorder;
  font-family: $primaryFontStack;
  font-size: em(12px);
  padding: ($gutter / 6) ($gutter / 2);

  .on-sale-tag & {
    background-color: $colorAccent;
    color: color-control-tag-text($colorAccent, 40%);
  }
}

.sold-out-tag,
.on-sale-tag {
  margin: 0 0 ($gutter / 2);
  position: absolute;
  top: 15px;
  right: 15px;
}

/*============================================================================
  #Collection Filters
==============================================================================*/
.active-filter {
  font-weight: bold;
}


@include at-query ($max, $medium) {
  .collection-filters {
    margin-bottom: $gutter;
  }
}

.collection-sorting {
  margin-top: $gutter;

  /*================ Medium Up Breakpoint ================*/
  @include at-query ($min, $small) {
    margin: 25px 60px 0 60px;

    .grid-item {
      padding: 0 15px;
      min-width: 200px;
    }
  }
}

.filter-dropdown {
  height: 60px;
  margin: 0 auto;
  max-width: 250px;
  position: relative;
}


@include at-query ($min, $medium) {
  .filter-dropdown__wrapper {
    display: inline-block;
    width: 225px;
  }

  .sorting-filters--enabled .collection-tags {
    margin-right: 25px;
  }
}

.supports-pointerevents {
  .filter-dropdown__select {
    position: absolute;
    text-indent: -999px;
  }

  .filter-dropdown__label {
    background-color: $colorBody;
    color: $colorTextBody;
    cursor: pointer;
    display: block;
    font-family: $primaryFontStack;
    font-size: em(12px);
    font-weight: normal;
    margin: 13px;
    max-width: 220px;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    z-index: 1;

    @include at-query ($min, $medium) {
      max-width: 195px;
    }
  }
}

/*============================================================================
  #Breadcrumbs
==============================================================================*/
.breadcrumb {
  font-family: $primaryFontStack;
  font-size: em(12px);
  margin-bottom: $gutter;

  a,
  span {
    display: inline-block;
    margin-right: 7px;

    &:first-child {
      padding-left: 0;
    }
  }
}

/*============================================================================
  #Collection Page
==============================================================================*/
.collection-grid {
  margin-bottom: -$gutter;
}

a.featured-box {
  border: $borderWidth solid $colorBorder;
  color: $colorTextBody;
  display: block;
  margin-bottom: $gutter;

  &:hover {
    color: lighten($colorTextBody, 20%);
  }
}

.featured-box__body {
  border-top: 0;
  margin-top: -$gutter / 2;
  padding: ($gutter / 2) ($gutter / 3);

  .btn--large {
    background-color: $colorBtnPrimary;
    color: $colorBtnText;
    font-family: $primaryFontStack;
    font-size: em(12px);
    margin: 0;
    padding: ($gutter / 4) 0;
  }

  .hr--small {
    position: relative;
    top: -($gutter / 6);
  }

  @include at-query ($min, $large) {
    padding: $gutter 0;
  }
}

.featured-box__title {
  margin: 0;
}

@include at-query(null, $postSmall, $medium) {
  .medium--one-third .featured-box__title,
  .one-third .featured-box__title {
    font-size: em(20px);
  }
}

@include at-query($min, $large) {
  .large--one-third .featured-box__title,
  .one-third .featured-box__title {
    font-size: em(20px);
  }
}

/*============================================================================
  #Product Page
==============================================================================*/
.product-single {
  margin-bottom: $gutter;

  @include at-query ($min, $large) {
    margin-bottom: $gutter * 2;
  }
}

.product-single__addtocart {
  .add,
  .minus {
    color: $colorTextBody;
    font-size: em(24px);
    position: relative;
  }

  .js-qty {
    margin-bottom: $gutter / 2;
    max-width: none;

    input[type="text"] {
      background-color: $colorBody;
      padding: 14px 25px;
    }
  }

  .js--qty-adjuster {
    width: 50px;
  }
}

.product-single__desc {
  margin: $gutter 0;

  @include at-query ($min, $large) {
    margin: ($gutter * 2) 0;
  }

  h3 {
    text-align: left;
  }
}

.product-single__header {
  margin-bottom: $gutter;

  @include at-query ($min, $large) {
    margin-bottom: $gutter * 2;
  }
}

.product-single__photos {
  margin-bottom: $gutter;
}

.product-single__photos,
.product-single__thumbs {
  a,
  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    width: auto;
  }

  li {
    margin-bottom: $gutter;
    display: inline-block;
    float: none;
  }
}

.product-single__price {
  font-family: $secondaryFontStack;
}

.product-single__variants {
  .no-js & {
    display: block;
  }
}

.product-single__vendor {
  font-style: italic;
}

.product-single__title.wvendor {
  margin: 0;
}

.selector-wrapper {
  margin-bottom: $gutter / 2;
}

.social-sharing {
  a {
    color: $colorAccent;
    display: inline-block;
    font-family: $primaryFontStack;
    font-size: em(12px);
    margin-bottom: ($gutter / 4);
    margin-right: ($gutter / 4);
    padding: ($gutter / 6) ($gutter / 3);
    padding-left: 0;

    @include transition('all 0.3s ease');
  }

  a:hover {
    color: $colorMeta;
  }
}

.item-social-sharing {
  margin-top: $gutter;

  @include at-query ($min, $large) {
    margin-top: $gutter * 2;
  }
}

/*============================================================================
  #Blogs and Comments
==============================================================================*/
.blog__name,
.collection-title {
  font-family: $primaryFontStack;
  font-size: em(12px);
  margin-bottom: $gutter / 2;
}

.blog-post-single,
.blog-post {
  .meta {
    color: $colorMeta;
    font-family: $primaryFontStack;
    font-size: em(12px);

    .meta__dot {
      &:before {
        content: "\00B7";
        font-size: 20px;
        line-height: 0.9;
        vertical-align: bottom;
      }
      margin: 0 8px;
    }
  }
}

.blog-meta {
  text-align: center;
  margin-bottom: 15px;
  line-height: 1.5;

  .meta {
    display: inline-block;
  }

  p {
    margin-bottom: 0px;
  }

  a {
    color: $colorMeta;

    &:hover,
    &:active {
      color: color-control-text($colorMeta, 15%);
    }
  }
}

.blog-post {
  .page-header {
    margin-bottom: 45px;
  }

  .icon {
    color: $colorMeta;
  }

  .icon-comment {
    position: relative;
    top: 1px;
  }
}

.blog-post__full-image {
  display: block;
  margin-bottom: 15px;

  img {
    display: block;
    margin: 0 auto;
  }
}

.comments__title {
  margin: 15px 0 $gutter;
}

.comments-form__title {
  margin: ($gutter * 2 - 10) 0 ($gutter * 2);
}

@include at-query ($min, $large) {
  .comments-form__author {
    padding-right: 5px;
  }

  .comments-form__email {
    padding-left: 5px;
  }
}

.comments {
  margin-top: $gutter + 10;

  form {
    margin-top: $gutter;
  }

  @include at-query ($min, $large) {
    form {
      margin-top: $gutter * 2;
    }
  }
}

.comment {
  margin-bottom: $gutter;

  & + & {
    padding-top: $gutter;
  }
}

/*============================================================================
  #Search Results
==============================================================================*/
.search-results {
  margin-top: $gutter;

  a {
    color: $colorTextBody;
  }

  @include at-query ($min, $large) {
    margin-top: $gutter * 2;
  }
}

/*============================================================================
  #Notes and Form Feedback
==============================================================================*/
.note,
.errors {
  font-family: $primaryFontStack;
  font-size: em(12px);
  padding: ($gutter / 2) ($gutter * 0.66);
  margin-bottom: $gutter / 2;
  border: 1px solid transparent;

  ul,
  ol {
    margin-top: 0;
    margin-bottom: 0;
  }

  li:last-child {
    margin-bottom: 0;
  }

  p {
    margin-bottom: 0;
  }
}

.note {
  border-color: $colorBorder;
}

.errors {
  ul {
    list-style: disc inside;
  }
}

.form-success {
  color: $successGreen;
  background-color: lighten($successGreen, 65%);
  border-color: $successGreen;
}

.form-error,
.errors {
  color: $errorRed;
  background-color: $errorRedBg;
  border-color: $errorRed;
}

/*============================================================================
  #Cart Page
==============================================================================*/
@include at-query ($min, $large) {
  .template-cart .cart-wrapper {
    max-width: 75%;
    margin: 0 auto;
  }
}

.cart__row {
  position: relative;
  padding: $gutter 0;
  border-top: $borderWidth solid $colorBorder;

  @include at-query ($max, $small) {
    margin: $gutter 0;
    padding-bottom: 0;

    &:first-of-type {
      margin-top: 0;
    }
  }

  .js-qty {
    margin: 0 auto;
  }

  input[name="goto_pp"] {
    padding: 10px 0px 0px;
  }

  .amazon-payments-pay-button {
    margin: 0;
    vertial-align: top;
  }
}

.cart__instructions {
  margin-bottom: $gutter;
}

.cart__image {
  display: block;

  img {
    display: block;
  }
}

.cart__subtotal {
  display: inline;
  font-family: $secondaryFontStack;
  font-size: em(30px);
  margin: 0 0 0 ($gutter / 3);
}

.cart__mini-labels {
  display: block;
  font-family: $primaryFontStack;
  font-size: em(12px);
  margin: ($gutter / 2) 0 0;

  @include at-query($min, $large) {
    margin-top: $gutter;
  }
}

.cart__product {
  line-height: em(26px);
  margin: 0;
}

.cart__remove {
  font-family: $primaryFontStack;
  font-size: em(12px);
  margin: 0 0 ($gutter / 2);

  @include at-query($min, $large) {
    margin-bottom: 0;
  }
}

.cart-item__discount {
  display: block;
}

.cart__additional_checkout_buttons {
  & > *:not(script) {
    padding: 10px 0 0 10px;
    vertical-align: top;
    line-height: 1;
    &:first-child,
    &:empty {
      padding-left: 0px;
    }
  }
}

/*============================================================================
  #Customer Account Page
==============================================================================*/
.customer-orders {
  overflow: auto;
}

/*============================================================================
  Ajaxify.scss.liquid overrides
  - Make the drawer come from the right
==============================================================================*/
.ajaxify-drawer {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  font-family: $secondaryFontStack;
  width: $cartWidthSmall;
  overflow: hidden;
  @include transition('right 0.5s cubic-bezier(0.75, 0.03, 0.52, 1)');

  @include at-query($min, $large) {
    width: $cartWidthLarge;
  }

  .ajaxifyCart--content {
    background-color: transparent;
    opacity: 1;
    @include transition(none);
    @include transform(none);
  }

  .supports-csstransforms & {
    @include transition('transform 0.5s cubic-bezier(0.75, 0.03, 0.52, 1)');
  }

  .page-move--cart &,
  .page-move--nav & {
    position:fixed;
    overflow: auto;
  }
}

/*================ Ajaxify color overrides ================*/
.ajaxify-drawer {
  color: $colorMenuText;

  a {
    color: color-control($colorMenuText, 10%);

    &:hover {
      color: color-control($colorMenuText, 20%);
    }

    @include transition('all 0.3s ease');
  }

  h1 {
    font-size: em(24px);

    @include at-query($min, $large) {
      margin-bottom: $gutter;
    }
  }

  h1, h2, h3, h4, h5, h6,
  input[type="text"] {
    color: $colorMenuText;
  }

  label,
  .cart__mini-labels {
    color: color-control($colorMenuText, 20%);
  }

  label {
    margin-bottom: ($gutter / 4);
  }

  textarea {
    background-color: $colorMenu;
    border-color: color-control($colorMenu, 15%);
    color: $colorMenuText;
  }

  .cart__product {
    a {
      color: color-control-text($colorMenuText, 20%);

      &:hover {
        color: color-control-text($colorMenuText, 25%);
      }
    }
  }

  .cart__row,
  .ajaxifyCart--num,
  .ajaxifyCart--add,
  .ajaxifyCart--minus {
    border-color: color-control($colorMenu, 15%);
  }

  .js--qty-adjuster:hover,
  .ajaxifyCart--qty-adjuster:hover,
  .js--qty-adjuster:active,
  .ajaxifyCart--qty-adjuster:active {
    background-color: color-control($colorMenu, 25%);
  }
}

.ajaxifyCart--add,
.ajaxifyCart--minus {
  .add,
  .minus {
    color: $colorMenuText;
  }

  .js--qty-adjuster:hover &,
  .ajaxifyCart--qty-adjuster:hover {
    color: red;
  }
}

/*============================================================================
  #Password Page
==============================================================================*/

.template-password {
  height: 100vh;
  text-align: center;
  padding: 0;
}

.password-page__wrapper {
  display: table;
  height: 100%;
  width: 100%;
  background-color: $colorBody;

  @if $passwordPageUseBgImage {
    background-image: url($passwordBgImage);
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffffff;
  } @else {
    color: $colorTextBody;
  }

  a {
    color: inherit;

    &:hover {
      color: inherit;
    }
  }

  @if $passwordPageUseBgImage {
    .social-sharing {
      a {
        color: #ffffff;
      }

      a:hover {
        color: #ffffff;
      }
    }
  } @else {
    .social-sharing {
      a {
        color: $colorAccent;
      }

      a:hover {
        color: $colorMeta;
      }
    }
  }

  @if $passwordPageUseBgImage {
    h1, h2, h3, h4, h5, h6,
    .h1, .h2, .h3, .h4, .h5, .h6 {
      color: inherit;
    }

    .input-group-btn .icon {
      color: inherit;
    }
  }

}

.password-header-section {
  display: table-row;
}

.password-page__header {
  display: table-cell;
  height: 1px;
}

.password-page__header__inner {
  padding: ($gutter / 2) $gutter;
}

.password-page__logo {
  margin-top: 2.5 * $gutter;

  .logo {
    max-width: 100%;
  }
}

.password-page__main {
  display: table-row;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.password-page__main__inner {
  display: table-cell;
  vertical-align: middle;
  padding: ( $gutter / 2 ) $gutter;
}

.password-page__hero {
  font-family: $primaryFontStack;
  font-weight: $headerFontWeight;
  font-size: em(38px);
  line-height: 1.25;
  text-transform: none;
  letter-spacing: 0;
  text-rendering: optimizeLegibility;

  @include at-query($min, $postSmall) {
    font-size: em(60px);
  }

  @include at-query($min, $large) {
    font-size: em(64px);
  }
}

.password-page__message {
  font-style: italic;
  font-size: 120%;
  line-height: 1.6;

  img {
    max-width: 100%;
  }
}

.password-page__message,
.password-page__login-form,
.password-page__signup-form {
  max-width: 500px;
  margin: 0 auto;
}

.password-page__login-form {
  text-align: center;
  padding: $gutter;
}

.password-page__signup-form .input-group-field {
  background-color: transparent;

  @if $passwordPageUseBgImage {
    color: #ffffff;
  } @else {
    color: inherit;
  }
}

.password-page__login-form,
.password-page__signup-form {
  @include at-query($min, $small) {
    padding: 0 $gutter;
  }

  .input-group {
    width: 100%;
  }

  .errors ul {
    list-style-type: none;
    margin-left: 0;
  }
}

.storefront-password-form {
  margin-bottom: $gutter / 2;
}

.password-page__social-sharing {
  margin-top: $gutter;

  .social-sharing {
    padding-top: 0;
  }
}

.password-login,
.admin-login  {
  margin-top: $gutter / 2;
  a:hover {
    color: inherit;
  }
}

.password-login {
  font-family: $primaryFontStack;
  font-size: em( 0.7 * $baseFontSize );
  line-height: 0.7 * $baseFontSize;
}

.lock-icon-svg {
  width: 0.7 * $baseFontSize;
  height: 0.7 * $baseFontSize;
  display: inline-block;
  vertical-align: baseline;

  path {
    fill: currentColor;
  }

  /* Hiding the SVG logo in IE8 */
  .lt-ie9 & {
    display: none;
  }
}

.admin-login {
  font-size: 95%;
}

.password-page__footer {
  display: table-row;
  height: 1px;
}

.password-page__footer_inner {
  display: table-cell;
  vertical-align: bottom;
  padding: $gutter;
  line-height: 1.5 * $baseFontSize;
  font-size: 95%;
}

.shopify-link {
  color: inherit;

  &:hover {
    color: inherit;
  }
}

.shopify-logo-svg {
  width: 1.5 * $baseFontSize * 120 / 35;
  height: 1.5 * $baseFontSize;
  display: inline-block;
  line-height: 0;
  vertical-align: top;

  path {
    fill: currentColor;
  }

  /* Hiding the SVG logo in IE8, we show the word 'Shopify' instead */
  .lt-ie9 & {
    display: none;
  }
}

.modern .shopify-name,
.modern .hidden-label {
  @include visuallyHidden;
}

/*============================================================================
  #Demo Styles - for empty store state
==============================================================================*/
.demo-image {
  background: url('//cdn.shopify.com/s/files/1/0383/9765/t/1/assets/blankslate-producticon.png?4') no-repeat center center #eee;
  display: block;
  text-align: center;
  padding: 100px 0;
  color: #aaa;
  font-size: em(12px);
}

/*============================================================================
  #FlexSlider
    - jQuery FlexSlider v2.2.2 | http://www.woothemes.com/flexslider/
    - Contributing author: Tyler Smith (@mbmufffin)
==============================================================================*/
.flexslider {
  margin: 5px 0;
  padding: 0;
}

.flexslider li { margin: 0; }
.flexslider .slides > li {
  display: none; /* Hide the slides before the JS is loaded. Avoids image jumping */
  margin: 0;
  position: relative;
  @include backface();
}

.flexslider .slides img {
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

.slides { @include clearfix; }
html[xmlns] .slides { display: block; }
* html .slides { height: 1%; }

/*================ No JS Fallback ================*/
.no-js .slides > li:first-child { display: block; }
.flexslider { position: relative; zoom: 1; }
.flex-viewport { max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; }
.loading .flex-viewport { max-height: 300px; }
.flexslider .slides { zoom: 1; }
.carousel li { margin-right: 5px; }

/*================ Direction Nav ================*/
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

.flex-direction-nav { *height: 0; }
.flex-direction-nav a  {
  display: block;
  width: 45px;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 10;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
  @include transition('all 0.3s ease');
}

.flex-direction-nav .flex-disabled {
  opacity: 0!important;
  filter: alpha(opacity=0);
  cursor: default;
}

.flex-direction-nav a {
  text-indent: -9999px;
  background: {
    color: transparent;
    repeat: no-repeat;
    size: 20px auto;
  }

  /*================ Hide SVG arrows in oldIE ================*/
  .lte-ie9 & {
    display: none;
  }

  &.flex-prev {
    background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNy4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB3aWR0aD0iMjIuM3B4IiBoZWlnaHQ9IjQwcHgiIHZpZXdCb3g9IjAgMCAyMi4zIDQwIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAyMi4zIDQwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwYXRoIGZpbGw9IiNEM0QzRDMiIGQ9Ik0xOC43LDBMMCwxOS43TDE4LjcsNDBjMCwwLDUuMi0xLDMuMS0zLjFTNS43LDE5LjcsNS43LDE5LjdzMTQtMTQuNSwxNi4xLTE2LjZTMTguNywwLDE4LjcsMHoiLz4NCjwvc3ZnPg0K");
    background-position: center left;
  }

  &.flex-next {
    background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNy4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB3aWR0aD0iMjIuM3B4IiBoZWlnaHQ9IjQwcHgiIHZpZXdCb3g9IjAgMCAyMi4zIDQwIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAyMi4zIDQwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwYXRoIGZpbGw9IiNEM0QzRDMiIGQ9Ik0wLjUsMy4xYzIuMSwyLjEsMTYuMSwxNi42LDE2LjEsMTYuNlMyLjYsMzQuOCwwLjUsMzYuOVMzLjYsNDAsMy42LDQwbDE4LjctMjAuM0wzLjYsMEMzLjYsMC0xLjYsMSwwLjUsMy4xDQoJeiIvPg0KPC9zdmc+DQo=");
    background-position: center right;
  }
}

/*================ Control Nav ================*/
.flex-control-nav {
  position: absolute;
  bottom: -$gutter;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    margin: 0 4px;
    display: inline-block;
    zoom: 1;
    *display: inline;
    vertical-align: middle;
  }
}

.flex-control-paging li a {
  width: 12px;
  height: 12px;
  display: block;
  background-color: $colorBorder;
  cursor: pointer;
  text-indent: -9999px;
  border-radius: 20px;
  border: 2px solid $colorBody;
  @include transition('all 0.1s ease-in-out');

  &:hover {
    background-color: darken($colorBorder, 10%);
  }

  &.flex-active {
    background-color: $colorBody;
    border-color: $colorBorder;
    cursor: default;
  }
}

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

@include at-query ($max, $medium) {
  .flex-direction-nav a {
    opacity: 1;
    width: 25px;
  }
  .flex-direction-nav a.flex-prev {
    left: 0;
    background-position: center right;
  }
  .flex-direction-nav a.flex-next {
    right: 0;
    background-position: center left;
  }
}

@include at-query ($min, $large) {
  .flex-direction-nav .flex-prev { left: 10px; }
  .flex-direction-nav .flex-next { right: 10px; }
  .flexslider:hover .flex-prev { opacity: 1; left: (-$gutter)+5; }
  .flexslider:hover .flex-next { opacity: 1; right: (-$gutter)+5; }
}

@include at-query ($min, $siteWidth) {
  .flex-direction-nav .flex-prev { left: 20px; }
  .flex-direction-nav .flex-next { right: 20px; }
  .flexslider:hover .flex-prev { opacity: 1; left: -40px; }
  .flexslider:hover .flex-next { opacity: 1; right: -40px; }
}

/*================ Custom Flexslider Styles ================*/
.flexslider .slides {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.slide-link {
  display: block;

  img {
    display: block;
  }
}

/*============================================================================
  #Magnific Popup
    - http://dimsemenov.com/plugins/magnific-popup/
==============================================================================*/

.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8;
  filter: alpha(opacity=80); }

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; }

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045; }

.mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto; }

.mfp-ajax-cur {
  cursor: progress; }

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
  cursor: auto; }

.mfp-close, .mfp-arrow, .mfp-preloader, .mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044; }
  .mfp-preloader a {
    color: #CCC; }
    .mfp-preloader a:hover {
      color: #FFF; }

.mfp-s-ready .mfp-preloader {
  display: none; }

.mfp-s-error .mfp-content {
  display: none; }

button.mfp-close, button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  -webkit-box-shadow: none;
  box-shadow: none; }
button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 1;
  filter: alpha(opacity=100);
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace; }
  .mfp-close:hover, .mfp-close:focus {
    opacity: 0.65;
    filter: alpha(opacity=65); }
  .mfp-close:active {
    top: 1px; }

.mfp-close-btn-in .mfp-close {
  color: #333; }

.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; }

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap; }

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  filter: alpha(opacity=65);
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
  .mfp-arrow:active {
    margin-top: -54px; }
  .mfp-arrow:hover, .mfp-arrow:focus {
    opacity: 1;
    filter: alpha(opacity=100); }
  .mfp-arrow:before, .mfp-arrow:after, .mfp-arrow .mfp-b, .mfp-arrow .mfp-a {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 35px;
    margin-left: 35px;
    border: medium inset transparent; }
  .mfp-arrow:after, .mfp-arrow .mfp-a {
    border-top-width: 13px;
    border-bottom-width: 13px;
    top: 8px; }
  .mfp-arrow:before, .mfp-arrow .mfp-b {
    border-top-width: 21px;
    border-bottom-width: 21px;
    opacity: 0.7; }

.mfp-arrow-left {
  left: 0; }
  .mfp-arrow-left:after, .mfp-arrow-left .mfp-a {
    border-right: 17px solid #FFF;
    margin-left: 31px; }
  .mfp-arrow-left:before, .mfp-arrow-left .mfp-b {
    margin-left: 25px;
    border-right: 27px solid #3F3F3F; }

.mfp-arrow-right {
  right: 0; }
  .mfp-arrow-right:after, .mfp-arrow-right .mfp-a {
    border-left: 17px solid #FFF;
    margin-left: 39px; }
  .mfp-arrow-right:before, .mfp-arrow-right .mfp-b {
    border-left: 27px solid #3F3F3F; }

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px; }
  .mfp-iframe-holder .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 900px; }
  .mfp-iframe-holder .mfp-close {
    top: -40px; }

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }
  .mfp-iframe-scaler iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #000; }

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure {
  line-height: 0; }
  .mfp-figure:after {
    content: '';
    position: absolute;
    left: 0;
    top: 40px;
    bottom: 40px;
    display: block;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #444; }
  .mfp-figure small {
    color: #BDBDBD;
    display: block;
    font-size: 12px;
    line-height: 14px; }
  .mfp-figure figure {
    margin: 0; }

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto; }

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px; }

.mfp-image-holder .mfp-content {
  max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0; }
  .mfp-img-mobile img.mfp-img {
    padding: 0; }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0; }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px; }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .mfp-img-mobile .mfp-bottom-bar:empty {
      padding: 0; }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px; }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0; }
 }

@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75); }

  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0; }

  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%; }

  .mfp-container {
    padding-left: 6px;
    padding-right: 6px; }
 }

.mfp-ie7 .mfp-img {
  padding: 0; }
.mfp-ie7 .mfp-bottom-bar {
  width: 600px;
  left: 50%;
  margin-left: -300px;
  margin-top: 5px;
  padding-bottom: 5px; }
.mfp-ie7 .mfp-container {
  padding: 0; }
.mfp-ie7 .mfp-content {
  padding-top: 44px; }
.mfp-ie7 .mfp-close {
  top: 0;
  right: 0;
  padding-top: 0; }

/*======================== Magnific Popup custom styles ===================== */

.mfp-container {
  background-color: $colorBody;
}

.mfp-close {
  color: inherit;
}
