<!-- Keppler menu backup 15-07-2017 -->
<h1><span class="s1">Menu</span></h1>
<p><em><span class="s1">Bij Keppler maken we bijna alles zelf. We branden de koffie, bakken het brood, snijden de friet en wecken het zuur.</span></em></p>
<h2><span class="s1">Ontbijt</span></h2>
<h3>(van 08:00 tot 12:00)</h3>
<table width="100%">
<tbody>
<tr>
<td><span>Croissant</span></td>
<td>2</td>
</tr>
<tr>
<td><span>Yoghurt met muesli</span></td>
<td>5</td>
</tr>
<tr>
<td>Omelet op brood (vanaf 10:00)</td>
<td>6,50</td>
</tr>
<tr>
<td>Kepplers groene shakshuka (vanaf 10:00)<br /><em>Arabisch ontbijt van paprika, ei en kruiden</em></td>
<td>10</td>
</tr>
</tbody>
</table>
<h2 class="p4">Lunch</h2>
<h3 class="p3">(van 12:00 tot 17:30)</h3>
<table width="100%">
<tbody>
<tr>
<td>Boerenlunch<br /><em>brood, oude kaas, sla, radijsjes, boter of mayo en zuur</em></td>
<td>5,50</td>
</tr>
<tr>
<td>Broodje makreel<br /><em>gerookte makreel, dillesaus en zuur</em></td>
<td>7,50</td>
</tr>
<tr>
<td>Platbrood met bietencrème, geroosterde 8 groenten en sla</td>
<td>8</td>
</tr>
<tr>
<td>Broodje bal<br /><em>met mosterd en zuur</em></td>
<td>7,50</td>
</tr>
<tr>
<td>Salade met gerookte vis van het seizoen en gepocheerd ei</td>
<td>12,50</td>
</tr>
<tr>
<td>Caesar salad<br /><em>sla romaine, ei, croutons, ansjovis</em></td>
<td>9</td>
</tr>
<tr>
<td>Salade geitenkaas<br /><em>van Egmondse Bollen met kerstomaatjes en balsamico</em></td>
<td>9</td>
</tr>
<tr>
<td>Groene sla<br /><em>gemengde salade met mosterddressing</em></td>
<td>5</td>
</tr>
</tbody>
</table>
<h2><span class="s1">Soepen</span></h2>
<h3>(lunch en avond)</h3>
<table width="100%">
<tbody>
<tr>
<td>Charsjo<br /><em>Georgische tomatenrundvleessoep met walnoten</em></td>
<td>6,75</td>
</tr>
<tr>
<td>Soep van de dag</td>
<td>6</td>
</tr>
</tbody>
</table>
<h2 class="p1"><span class="s1">Zoet</span></h2>
<table width="100%">
<tbody>
<tr>
<td>Worteltaart</td>
<td>3,50</td>
</tr>
<tr>
<td>Taart van de dag</td>
<td>3,75</td>
</tr>
</tbody>
</table>
<h2 class="p4">Borrel</h2>
<h3 class="p3">(vanaf 16:00)</h3>
<table width="100%">
<tbody>
<tr>
<td>Nootjes</td>
<td>3</td>
</tr>
<tr>
<td>Brood met boter / aioli</td>
<td>4</td>
</tr>
<tr>
<td>Amsterdamse ossenworst met zuur</td>
<td>5</td>
</tr>
<tr>
<td>Rillettes de porc met brood</td>
<td>7</td>
</tr>
<tr>
<td>Borrelplankje<br /><em>verschillende kazen, gedroogde worst en ham, rillettes / makreelmousse / bietencrème</em></td>
<td>13</td>
</tr>
<tr>
<td>Tortilla de patatas</td>
<td>6</td>
</tr>
</tbody>
</table>
<h2 class="p4">Diner</h2>
<h3 class="p3">(vanaf 17:30)</h3>
<meta charset="utf-8" />
<table width="100%">
<tbody>
<tr>
<td>Steak frites<br /><em>met brood, groene sla, friet en tafelzuur</em></td>
<td>19</td>
</tr>
<tr>
<td>Vis van de week</td>
<td>19</td>
</tr>
<tr>
<td>Vegetarische pasta</td>
<td>14</td>
</tr>
<tr>
<td>Vegetarische soepmaaltijd<br /><em>soep, hartige taart en groene sla</em></td>
<td>15</td>
</tr>
<tr>
<td>Dagschotel</td>
<td>13,50</td>
</tr>
</tbody>
</table>
<h2 class="p7">Nagerechten</h2>
<meta charset="utf-8" />
<h3 class="p3">(vanaf 17:30)</h3>
<table width="100%">
<tbody>
<tr>
<td>Semifreddo met koffie, hazelnoten en karamel</td>
<td>5</td>
</tr>
<tr>
<td>Worteltaart</td>
<td>3,50</td>
</tr>
</tbody>
</table>
<h2 class="p4">Koffie en thee</h2>
<table width="100%">
<tbody>
<tr>
<td>Espresso</td>
<td>2,20</td>
</tr>
<tr>
<td>Koffie</td>
<td>2,20</td>
</tr>
<tr>
<td>Espresso macchiato</td>
<td>2,50</td>
</tr>
<tr>
<td>Cortado</td>
<td>2,50</td>
</tr>
<tr>
<td>Cappuccino</td>
<td>2,50</td>
</tr>
<tr>
<td>Koffie verkeerd</td>
<td>2,70</td>
</tr>
<tr>
<td>Flat white</td>
<td>3,50</td>
</tr>
<tr>
<td>Filterkoffie</td>
<td></td>
</tr>
<tr>
<td style="padding-left: 30px;">Mok filterkoffie van de maand</td>
<td>1,90</td>
</tr>
<tr>
<td style="padding-left: 30px;">french press (200 ml)</td>
<td>3,50</td>
</tr>
<tr>
<td style="padding-left: 30px;">v60 (zie assortiment / 300 ml)</td>
<td>4</td>
</tr>
<tr>
<td style="padding-left: 30px;">Chemex (zie assortiment / 500 ml)</td>
<td>6</td>
</tr>
<tr>
<td>Thee</td>
<td></td>
</tr>
<tr>
<td style="padding-left: 30px;">verveine</td>
<td>2,20 / 4</td>
</tr>
<tr>
<td style="padding-left: 30px;">Earl Grey</td>
<td>2,20 / 4</td>
</tr>
<tr>
<td style="padding-left: 30px;">verse munt</td>
<td>2,20 / 4</td>
</tr>
<tr>
<td style="padding-left: 30px;">jasmijn</td>
<td>2,20 / 4</td>
</tr>
</tbody>
</table>
<h2 class="p7">Frisdrank</h2>
<table width="100%">
<tbody>
<tr>
<td>Melk</td>
<td>1,80</td>
</tr>
<tr>
<td>Appelsap van eigen boomgaard</td>
<td>2,70</td>
</tr>
<tr>
<td>Spa Rood</td>
<td>2,40</td>
</tr>
<tr>
<td>Kepplers ijsthee</td>
<td>2,60</td>
</tr>
<tr>
<td>Coca Cola</td>
<td>2,40</td>
</tr>
<tr>
<td>Citroenlimonade</td>
<td>1,50</td>
</tr>
<tr>
<td><em>met Spa Rood</em></td>
<td>2,50</td>
</tr>
<tr>
<td>Limonade van het seizoen</td>
<td>1,50</td>
</tr>
<tr>
<td><em>met Spa Rood</em></td>
<td>2,50</td>
</tr>
</tbody>
</table>
<h2>Bier van de tap</h2>
<table width="100%">
<tbody>
<tr>
<td>Gulpener vaasje</td>
<td>2,5</td>
</tr>
<tr>
<td>Gulpener fluitje</td>
<td>2,20</td>
</tr>
<tr>
<td>Gulpener Uhr Weizen</td>
<td>4</td>
</tr>
<tr>
<td>Gerardus blond</td>
<td>4</td>
</tr>
<tr>
<td>Texels Skuumkoppen</td>
<td>3,90</td>
</tr>
</tbody>
</table>
<meta charset="utf-8" />
<h2>Bier op fles</h2>
<table width="100%">
<tbody>
<tr>
<td>Walhalla Osiris</td>
<td>3,90</td>
</tr>
<tr>
<td>Walhalla Dubbel IPA</td>
<td>4,20</td>
</tr>
<tr>
<td>Oedipus Mama</td>
<td>3,90</td>
</tr>
<tr>
<td>Duvel</td>
<td>3,90</td>
</tr>
<tr>
<td>Loirette</td>
<td>4</td>
</tr>
<tr>
<td>De Prael Quadrupel</td>
<td>4,20</td>
</tr>
</tbody>
</table>
<h2 class="p7">Witte wijn</h2>
<table width="100%">
<tbody>
<tr>
<td>Felerio uit La Marche</td>
<td>4 / 12 / 19,50</td>
</tr>
<tr>
<td>Viognier uit Costières de Nimes</td>
<td>5,50 / 16 / 27,50</td>
</tr>
</tbody>
</table>
<h2 class="p4">Rode wijn</h2>
<table width="100%">
<tbody>
<tr>
<td>La Cour de Dames uit de Languedoc</td>
<td>4 / 12 / 19,50</td>
</tr>
<tr>
<td>Valpolicella Classico uit Fumane</td>
<td>4,75 / 17 / 25</td>
</tr>
<tr>
<td>Chianti uit Siena</td>
<td>6,75 / 20,50 / 32,50</td>
</tr>
</tbody>
</table>
<h2 class="p4">Bubbels</h2>
<table width="100%">
<tbody>
<tr>
<td>Frangicorte (fles)</td>
<td>55</td>
</tr>
</tbody>
</table>
<h2 class="p7">Sterke drank</h2>
<table width="100%">
<tbody>
<tr>
<td>Jonge jenever</td>
<td>3</td>
</tr>
<tr>
<td>Oude jenever</td>
<td>3</td>
</tr>
<tr>
<td>Korenwijn</td>
<td>4</td>
</tr>
<tr>
<td>Ricard</td>
<td>4</td>
</tr>
<tr>
<td>Calvados</td>
<td>4,50</td>
</tr>
</tbody>
</table>
