{% comment %}

  Comments will not appear right after they are submitted, either to be checked for spam
  or to await moderation. When a comment is submitted, the browser is redirected to a page
  that includes the new comment id in its URL.
    Example: http://shopname.myshopify.com/blogs/news/2022072-my-post?comment=3721372

  More information:
    - http://docs.shopify.com/themes/liquid-variables/comment

{% endcomment %}

{% comment %}
  We're going to reference the number of comments below, so let's hold it in a variable.
{% endcomment %}
{% assign number_of_comments = article.comments_count %}

{% comment %}
  If a comment was just submitted and it has no blank fields, we have an extra comment to count.
{% endcomment %}
{% if comment and comment.created_at %}
  {% assign number_of_comments = article.comments_count | plus: 1 %}
{% endif %}

<div class="grid" data-section-id="{{ section.id }}" data-section-type="article-template">
  <article class="grid-item large--two-thirds push--large--one-sixth blog-post-single" itemscope itemtype="http://schema.org/Article">

    <header class="section-header text-center">

      <a class="blog__name text-center" href="{{ blog.url }}">{{ blog.handle }}</a>

      <h1>{{ article.title }}</h1>

      {% assign month = article.published_at | date: "%b" %}
      {% assign day = article.published_at | date: "%d" %}
      {% assign year = article.published_at | date: "%Y" %}
      {% assign iso = article.published_at | date: "%F" %}

      <div class="blog-meta">
        <p class="meta">
          <time datetime="{{ iso }}">{{ month }} {{ day }}, {{ year }}</time>
          <span class="meta__dot" aria-hidden="true"></span>
          <span>{{ article.author }}</span>
        </p>

        <div class="meta text-center">
          {% include 'tags-article' %}
        </div>
      </div>
    </header>

    <div class="rte" itemprop="articleBody">
      {{ article.content }}
    </div>

    {% if section.settings.social_sharing %}
      <div class="text-center item-social-sharing">
        <h2 class="h3">{{ "blogs.article.share_post" | t }}</h2>
        {% include 'social-sharing' %}
      </div>
    {% endif %}

    {% comment %}
      Create links to the next and previous articles, if available.
    {% endcomment %}
    {% if blog.next_article or blog.previous_article %}
      <hr class="hr--clear hr--small">
      <p class="clearfix">
        {% if blog.previous_article %}
          <span class="left">
            &larr; {{ 'blogs.article.older_post' | t | link_to: blog.previous_article }}
          </span>
        {% endif %}
        {% if blog.next_article %}
          <span class="right">
            {{ 'blogs.article.newer_post' | t | link_to: blog.next_article }} &rarr;
          </span>
        {% endif %}
      </p>
    {% endif %}

    {% comment %}
      Show off meta information like comments and tags.
    {% endcomment %}
    <div class="text-center">
    {% if blog.comments_enabled? %}
      <div class="comments">
        <hr>
        {% if article.comments.size > 0 %}
          <h2 class="text-center h3">{{ 'blogs.comments.with_count' | t: count: number_of_comments }}</h2>
        {% endif %}

        {% comment %}
          Just like blog.liquid page, define how many comments should be on each page.
        {% endcomment %}
        {% paginate article.comments by 5 %}
          {% comment %}
            #comments is required, it is used as an anchor link by Shopify.
          {% endcomment %}
          <div id="comments">

            {% if comment and comment.created_at %}
              <p class="note form-success">
                {% if blog.moderated? %}
                  {{ 'blogs.comments.success_moderated' | t }}
                {% else %}
                  {{ 'blogs.comments.success' | t }}
                {% endif %}
              </p>
            {% endif %}

            {% if number_of_comments > 0 %}
              <ul>
                {% comment %}
                  If a comment was just submitted with no blank field, show it.
                {% endcomment %}
                {% if comment and comment.created_at %}
                  <li id="{{ comment.id }}" class="comment first{% if article.comments_count == 0 %} last{% endif %}">
                    {% include 'comment' %}
                  </li>
                {% endif %}

                {% comment %}
                  Showing the rest of the comments.
                {% endcomment %}
                {% for comment in article.comments %}
                  <li id="{{ comment.id }}" class="comment{% unless number_of_comments > article.comments_count %}{% if forloop.first %} first{% endif %}{% endunless %}{% if forloop.last %} last {% endif %}">
                    {% include 'comment' %}
                  </li>
                {% endfor %}
              </ul>

              {% if paginate.pages > 1 %}
                <hr>
                <div class="text-center">
                  {% include 'pagination-custom' %}
                </div>
              {% endif %}

            {% endif %}

            {% comment %}
              Comment submission form
            {% endcomment %}
            {% form 'new_comment', article %}

              {{ form.errors | default_errors }}
              <div class="grid--full">
                <h2 class="text-center h3">{{ 'blogs.comments.title' | t }}</h2>
                <div class="grid-item large--one-half comments-form__author">
                  <label for="comment-author" class="form-label--hidden">
                    <span class="visuallyhidden">
                      {{ 'blogs.comments.name' | t }}
                    </span>
                  </label>
                  <input {% if form.errors contains "author" %} class="error"{% endif %}  type="text" name="comment[author]" placeholder="{{ 'blogs.comments.name' | t }}" id="comment-author" value="{{ form.author }}" autocapitalize="words">
                </div>

                <div class="grid-item large--one-half comments-form__email">
                  <label for="comment-email" class="form-label--hidden">
                    <span class="visuallyhidden">
                      {{ 'blogs.comments.email' | t }}
                    </span>
                  </label>
                  <input {% if form.errors contains "email" %} class="error"{% endif %} type="email" name="comment[email]" placeholder="{{ 'blogs.comments.email' | t }}" id="comment-email" value="{{ form.email }}" autocorrect="off" autocapitalize="off">
                </div>

                <div class="grid-item">
                  <label for="comment-body" class="form-label--hidden">
                    <span class="visuallyhidden">
                      {{ 'blogs.comments.message' | t }}
                    </span>
                  </label>
                  <textarea {% if form.errors contains "body" %} class="error"{% endif %} name="comment[body]" id="comment-body" placeholder="{{ 'blogs.comments.message' | t }}">{{ form.body }}</textarea>
                </div>
                <div class="grid-item">
                  {% if blog.moderated? %}
                    <p class="text-center">{{ 'blogs.comments.moderated' | t }}</p>
                  {% endif %}

                  <input type="submit" class="btn text-center" value="{{ 'blogs.comments.post' | t }}">
                </div>
              </div>

            {% endform %}

          </div>
          {% endpaginate %}

        </div>

    {% endif %}
  </article>
</div>

{% schema %}
  {
    "name": "Article",
    "settings": [
      {
        "type": "checkbox",
        "id": "social_sharing",
        "label": "Enable blog post sharing"
      }
    ]
  }
{% endschema %}
