<style>
{% if section.settings.product_details_display_method == 'hover' %}
  @media screen and (min-width: 769px) {
    [data-section-id="{{ section.id }}"] .product__cover,
    [data-section-id="{{ section.id }}"] .product__details {
      height: 100%;
      left: 0;
      opacity: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 1;
    }
    /*================ Remove hover in IE8 and below ================*/
    .lt-ie9 [data-section-id="{{ section.id }}"] .product__cover {
      height: auto;
      position: relative;
      opacity: 1;
      width: auto;
    }
    .lt-ie9 [data-section-id="{{ section.id }}"] .product__details {
      height: auto;
      position: relative;
      opacity: 1;
      width: auto;
    }
  }
{% endif %}

@media screen and (min-width: 769px) {
  [data-section-id="{{ section.id }}"] .product__details {
    {% if section.settings.product_details_display_method == 'always' %}
      margin-top: 15px;
    {% endif %}

    z-index: 2;
  }
}

{% if section.settings.product_details_display_method == 'always' %}
  [data-section-id="{{ section.id }}"] .product__price {
    margin-bottom: 0;
  }
  @include at-query($min, $large) {
    .product:hover .product__price {
      color: {{ settings.color_accent }};
    }
  }
{% endif %}
</style>

{% assign featured = section.settings.featured_collection %}
{% assign products_per_row = section.settings.num_per_row %}
{% assign rows = section.settings.num_rows %}
{% assign total_products = products_per_row | times: rows %}

<div data-section-id="{{ section.id }}">
  <div class="section-header text-center">
    {% unless section.settings.title == blank %}
      <h2 class="section-header__title">{{ section.settings.title }}</h2>
    {% endunless %}
    {% if collections[featured].description != blank %}
      <hr class="hr--small">
      <div class="rte rte--header">
        {{ collections[featured].description }}
      </div>
    {% endif %}
  </div>

  {% case products_per_row %}
    {% when '3' %}
      {% assign grid_item_width = 'medium--one-half large--one-third' %}
    {% when '4' %}
      {% assign grid_item_width = 'medium-down--one-half large--one-quarter' %}
  {% endcase %}

  <div class="grid-uniform product-grid">
    {% for product in collections[featured].products limit: total_products %}
      {% assign featured = product %}
      <div class="grid-item {{grid_item_width}}" {{ block.shopify_attributes }}>
        {% include 'product-grid-item' %}
      </div>
    {% else %}
      {% include 'onboarding-featured-products' %}
    {% endfor %}
  </div>
</div>

{% schema %}
  {
    "name": "Featured collection",
    "class": "index-section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Featured collection"
      },
      {
        "type": "collection",
        "id": "featured_collection",
        "label": "Featured collection"
      },
      {
        "type": "select",
        "id": "num_per_row",
        "label": "Products per row",
        "options": [
          {
            "value": "3",
            "label": "3"
          },
          {
            "value": "4",
            "label": "4"
          }
        ]
      },
      {
        "type": "select",
        "id": "num_rows",
        "label": "Rows",
        "options": [
          {
            "value": "1",
            "label": "1"
          },
          {
            "value": "2",
            "label": "2"
          }
        ]
      },
      {
        "type": "select",
        "id": "product_details_display_method",
        "label": "Show products' title and price",
        "options": [
          {
            "value": "always",
            "label": "Always"
          },
          {
            "value": "hover",
            "label": "On hover"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Featured collection",
        "category": "Collection",
        "settings": {
          "num_per_row": "3",
          "num_rows": "2"
        }
      }
    ]
  }
{% endschema %}
