{% capture navSize %}320px{% endcapture %}
{% capture mobileNavSize %}260px{% endcapture %}
{% capture navHeaderSize %}{{ section.settings.menu_mobile }}px{% endcapture %}
{% capture logoMaxHeight %}{{ section.settings.menu_mobile | minus: 30 }}px{% endcapture %}

<style>

@media screen and (max-width: 1024px) {
  .site-header {
    height: {{ navHeaderSize }};
  }
}

@media screen and (min-width: 1025px) {
  .site-header {
    height: 100%;
    width: {{ navSize }};
    overflow-y: auto;
    left: 0;
    position: fixed;
  }
}

.nav-mobile {
  width: {{ mobileNavSize }};
}

.page-move--nav .page-element {
  left: {{ mobileNavSize }};
}

@media screen and (min-width: 1025px) {
  .page-wrapper {
    left: {{ navSize }};
    width: calc(100% - {{ navSize }});
  }
  .grid, .grid-background {
    max-width: calc(100vw - {{ navSize }} - 40px);
  }
}

.supports-csstransforms .page-move--nav .page-element {
  left: 0;
  -webkit-transform: translateX({{ mobileNavSize }});
  -moz-transform: translateX({{ mobileNavSize }});
  -ms-transform: translateX({{ mobileNavSize }});
  -o-transform: translateX({{ mobileNavSize }});
  transform: translateX({{ mobileNavSize }});
}

@media screen and (min-width: 1025px) {
  .supports-csstransforms .page-move--cart .page-element {
    left: calc({{ navSize }} / 2);
  }
}

@media screen and (max-width: 1024px) {
  .page-wrapper {
    top: {{ navHeaderSize }};
  }
}

.page-move--nav .ajaxify-drawer {
  right: -{{ mobileNavSize }};
}

.supports-csstransforms .page-move--nav .ajaxify-drawer {
  right: 0;
  -webkit-transform: translateX({{ mobileNavSize }});
  -moz-transform: translateX({{ mobileNavSize }});
  -ms-transform: translateX({{ mobileNavSize }});
  -o-transform: translateX({{ mobileNavSize }});
  transform: translateX({{ mobileNavSize }});
}

@media screen and (max-width: 1024px) {
  .header-logo img {
    max-height: {{ logoMaxHeight }};
  }
}

@media screen and (min-width: 1025px) {
  .header-logo img {
    max-height: none;
  }
}

.nav-bar {
  height: {{ navHeaderSize }};
}

@media screen and (max-width: 1024px) {
  .cart-toggle,
  .nav-toggle {
    height: {{ navHeaderSize }};
  }
}
</style>

{% assign navMenu = linklists[section.settings.nav_menu] %}

<div class="nav-mobile">
  <nav class="nav-bar" role="navigation">
    <div class="wrapper">
      <a class="link-home" href="/" alt="Café Keppler">
        <img src="{{ 'dame.svg' | asset_url }}" />
      </a>
      {% include 'site-nav' with navMenu %}
      <ul id="link-cafe" class="site-nav">
        <li>
          <a href="/pages/cafe" class="site-nav__link site-nav__linknodrop">Café Keppler</a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<header class="site-header page-element" role="banner" data-section-id="{{ section.id }}" data-section-type="header">
  <div class="nav-bar grid--full large--hide">

    <div class="grid-item one-quarter">
      <button type="button" class="text-link nav-toggle" id="navToggle">
        <div class="table-contain">
          <div class="table-contain__inner">
            <span class="icon-fallback-text">
              <span class="icon icon-hamburger" aria-hidden="true"></span>
              <span class="fallback-text">{{ 'general.navigation.menu' | t }}</span>
            </span>
          </div>
        </div>
      </button>
    </div>

    <div class="grid-item two-quarters">

      <div class="table-contain">
        <div class="table-contain__inner">

        {% if template == 'index' %}
          <h1 class="header-logo" itemscope itemtype="http://schema.org/Organization">
        {% else %}
          <div class="h1 header-logo" itemscope itemtype="http://schema.org/Organization">
        {% endif %}

        {% if section.settings.logo != blank %}
          <a href="/" itemprop="url">
            <img src="{{ section.settings.logo | img_url: '450x' }}" alt="{{ shop.name }}" itemprop="logo">
          </a>
        {% else %}
          <a href="/" itemprop="url">{{ shop.name }}</a>
        {% endif %}

        {% if template == 'index' %}
          </h1>
        {% else %}
          </div>
        {% endif %}

        </div>
      </div>

    </div>

    <div class="grid-item one-quarter">
      <a href="/cart" class="cart-toggle">
      <div class="table-contain">
        <div class="table-contain__inner">
          <span class="icon-fallback-text">
            <span class="icon icon-cart" aria-hidden="true"></span>
            <span class="fallback-text">{{ 'layout.cart.title' | t }}</span>
          </span>
        </div>
      </div>
      </a>
    </div>

  </div>

  <div class="wrapper">

    {% comment %}
      Use the uploaded logo from section settings if enabled.
      Site name gets precedence with H1 tag on homepage, div on other pages.
    {% endcomment %}
    <div class="grid--full">
      <div class="grid-item medium-down--hide">
      {% if template == 'index' %}
        <h1 class="header-logo" itemscope itemtype="http://schema.org/Organization">
      {% else %}
        <div class="h1 header-logo" itemscope itemtype="http://schema.org/Organization">
      {% endif %}

      {% if section.settings.logo != blank %}
        <a href="/" itemprop="url">
          <img src="{{ section.settings.logo | img_url: '450x' }}" alt="{{ shop.name }}" itemprop="logo">
        </a>
      {% else %}
        <a href="/" itemprop="url">{{ shop.name }}</a>
      {% endif %}

      {% if template == 'index' %}
        </h1>
      {% else %}
        </div>
      {% endif %}
      </div>
    </div>

    <nav class="medium-down--hide" role="navigation">
      {% include 'site-nav' with navMenu %}
    </nav>

    {% comment %}
      Show number of items in the cart and total cost in the /cart link

      Ajaxify Cart Notes:
        - #cartToggle toggles cart visibility (drawer or modal)
        - #cartCount updates the total number of items in the cart
        - #cartCost updates the total cost of the cart
        - Documentation:  http://shopify.com/timber#ajax-cart
    {% endcomment %}

    <div class="medium-down--hide">
      <ul id="nav-cart" class="site-nav">
        <li>
          <a href="/cart" class="cart-toggle site-nav__link">
            {{ 'layout.cart.title' | t }}<span id="cartCount"{% if cart.item_count == 0 %} class="hidden-count"{% endif %}>{{ cart.item_count }}</span>
          </a>
        </li>
        {% comment %}
          If customer accounts are enabled, provide login and create account links
        {% endcomment %}
        {% if shop.customer_accounts_enabled %}
          {% if customer %}
            <li>
              {% if customer.first_name != blank %}
                {% capture first_name %}<a href="/account" class="site-nav__link">{{ customer.first_name }}</a>{% endcapture %}
                {{ 'layout.customer.logged_in_as_html' | t: first_name: first_name }}
              {% else %}
                <a href="/account" class="site-nav__link">{{ 'layout.customer.account' | t }}</a>
            </li>
              {% endif %}
            <li>
              <a href="/account/logout" class="site-nav__link">{{ 'layout.customer.log_out' | t }}</a>
            </li>
          {% else %}
            <li>
              <a href="/account/login" class="site-nav__link">{{ 'layout.customer.log_in' | t }}</a>
            </li>
            <li>
              <a href="/account/register" class="site-nav__link">{{ 'layout.customer.create_account' | t }}</a>
            </li>
          {% endif %}
        {% endif %}
      </ul>

    </div>

    <div class="medium-down--hide" role="navigation">
      <ul id="link-cafe" class="site-nav">
        <li>
          <a href="/pages/cafe" class="site-nav__link site-nav__linknodrop">Café Keppler</a>
        </li>
      </ul>
    </div>

    {% comment %}
      Footer in navigation bar
    {% endcomment %}
    <footer class="site-footer footer-koffie medium-down--hide">

      {% if section.settings.footer_custom_content != blank %}
        <div class="rte">
          {{ section.settings.footer_custom_content }}
        </div>

      {% else %}
        <a href="https://www.google.nl/maps/place/Van+der+Pekstraat+1,+1031+CN+Amsterdam/@52.3869622,4.9058896,17z/data=!3m1!4b1!4m5!3m4!1s0x47c609b328295857:0xb56d5d47b995c8ea!8m2!3d52.3869589!4d4.9080783" target="_blank">
          Van der Pekstraat 1
          <br />
          Amsterdam
        </a>
        <br />
        <a href="tel: +31-20-737-08-38">020 737 08 38</a>
      {% endif %}

    </footer>
  </div>

</header>

{% schema %}
  {
    "name": "Koffie logo and menu",
    "settings": [
      {
        "type": "header",
        "content": "Logo"
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Custom logo",
        "info": "450 x 250px max"
      },
      {
        "type": "header",
        "content": "Main Menu"
      },
      {
        "type": "link_list",
        "id": "nav_menu",
        "label": "Menu",
        "default": "main-menu"
      },
      {
        "type": "header",
        "content": "Sizing"
      },
      {
        "type": "text",
        "id": "menu_mobile",
        "label": "Mobile main menu height (in pixels)"
      }
    ]
  }
{% endschema %}
