{% layout 'cafe' %}
{% comment %}

  Loop through a defined number of articles with the 'paginate' tag.
  Don't forget to close the tag after your loop.

{% endcomment %}

{% paginate blog.articles by 10 %}

{% comment %}
  This template is also used for listing out articles of a specific tag.
  You can change layouts or styles by checking if current_tags is true.
{% endcomment %}

<div class="grid">
  <div class="grid-item large--two-thirds push--large--one-twelfth">
    <div class="blog-post">

      {% comment %}
        The large blog page title
        {% if current_tags %}
          <h1 class="page-header">{{ blog.title | link_to: blog.url }} &mdash; {{ current_tags.first }}</h1>
        {% else %}
          <h1 class="page-header">{{ blog.title }}</h1>
        {% endif %}
      {% endcomment %}

      {% comment %}
        Loop through each article in your blog. This is limited to what you set for pagination above.

        For more info on article liquid tags:
          - http://docs.shopify.com/themes/liquid-variables/article
      {% endcomment %}

      {% for article in blog.articles %}

        <h2 class="article-title">
          {{ article.title }}
          {% comment %}
            Don't offer a link to the deeplink
            <a href="{{ article.url }}">{{ article.title }}</a>
          {% endcomment %}
        </h2>

        {% comment %}
          To keep things simple, we don't show any meta data
          {% assign month = article.published_at | date: "%b" %}
          {% assign day = article.published_at | date: "%d" %}
          {% assign year = article.published_at | date: "%Y" %}
          {% assign iso = article.published_at | date: "%F" %}

          <div class="blog-meta">
            <p class="meta">
              <time datetime="{{ iso }}">{{ month }} {{ day }}, {{ year }}</time>
              <span class="meta__dot" aria-hidden="true"></span>
              <span>{{ article.author }}</span>
              {% if blog.comments_enabled? and article.comments_count > 0 %}
                <span class="meta__dot" aria-hidden="true"></span>
              {% endif %}
            </p>

            <p class="meta text-center">
              {% if blog.comments_enabled? and article.comments_count > 0 %}
                <span>
                  <a href="{{ article.url }}#comments">
                    <span class="icon-fallback-text">
                      <span class="icon icon-comment" aria-hidden="true"></span>
                      <span class="fallback-text">{{ 'blogs.article.comments' | t }}</span>
                    </span>
                    {{ article.comments_count }}
                  </a>
                </span>
              {% endif %}
              {% include 'tags-article' %}
            </p>
          </div>
        {% endcomment %}


        {% if article.image %}
          <span class="blog-post__full-image">
            {{ article | img_url: '1024x1024' | img_tag: article.title }}
          </span>
        {% endif %}

        {% comment %}
          Add a surrounding div with class 'rte' to anything that will come from the rich text editor.
          Since this is just a listing page, you can either use the excerpt or truncate the full article.
        {% endcomment %}
        {% comment %}
          This is the exerpt/truncated version
          <div class="rte">
            {% if article.excerpt.size > 0 %}
              {{ article.excerpt }}
            {% else %}
              <p>{{ article.content | strip_html | truncatewords: 100 }}</p>
            {% endif %}
          </div>

          <div class="meta text-center">
            <p><a href="{{ article.url }}">{{ 'blogs.article.read_more' | t }} <span class="icon icon-chevron-right" aria-hidden="true"></span></a></p>
          </div>
        {% endcomment %}

        {% comment %}
          Since Café Keppler will only publish small posts, just display the whole content, except if there is an excerpt.
        {% endcomment %}
        {% if article.excerpt.size > 0 %}
          <div class="rte">
            {{ article.excerpt }}
          </div>
          <div class="meta">
            <p><a href="{{ article.url }}">{{ 'blogs.article.read_more' | t }} <span class="icon icon-chevron-right" aria-hidden="true"></span></a></p>
          </div>
        {% else %}
            <div class="rte">
              {{ article.content }}
            </div>
        {% endif %}


        {% unless forloop.last %}<hr>{% endunless %}

      {% endfor %}

      {% if paginate.pages > 1 %}
        <div>
          {% include 'pagination-custom' %}
        </div>
      {% endif %}

      {% endpaginate %}

    </div>
  </div>
</div>
