{% layout 'landing' %}

<!-- /templates/index.liquid -->
{% comment %}

  This is the homepage of your site.

  More info on global variables (available on all templates):
    - http://docs.shopify.com/themes/liquid-variables/global
{% endcomment %}

<!-- {% for link in linklists.landing-switch.links %}
   <div id="{{ link.title }}">{{ link.title | link_to: link.url }}</div>
{% endfor %} -->
<div class="container grid--full">

  <a id="link-cafe" class="landing-block grid-item large--one-half" href="{{ linklists.landing-switch.links[0].url }}" alt="{{ linklists.landing-switch.links[0].title }}">
    <img class="landing-svg" src="{{ 'landing-cafe.svg' | asset_url }}" alt="Café Keppler">
  </a>

  <a id="link-koffie" class="landing-block grid-item large--one-half" href="{{ linklists.landing-switch.links[1].url }}" alt="{{ linklists.landing-switch.links[1].title }}">
    <img class="landing-svg" src="{{ 'landing-koffie-shop.svg' | asset_url }}" alt="Keppler Koffie">
  </a>

  <!-- <a id="link-koffie" class="landing-block grid-item large--one-half" href="{{ linklists.landing-switch.links[1].url }}" alt="{{ linklists.landing-switch.links[1].title }}">
    <img src="{{ 'landing-koffie-shop.svg' | asset_url }}" alt="Keppler Koffie Shop">
  </a> -->

</div>

<!-- <div id="landing-banner">
  <img src="{{ 'landing-banner-nu-open.svg' | asset_url }}" alt="Open juni 2017">
</div> -->
