{% layout 'cafe' %}

{% assign backgrounds = page.metafields.backgrounds %}
{% assign key = 'image' %}

<div class="grid-background svg-image" style="background-image: url('{{ backgrounds.image | asset_url }}')"></div>

<div class="grid">

  <div class="cafe-home grid-item large--two-thirds push--large--one-twelfth">
    {% comment %}
      Regular page content goes here.
    {% endcomment %}
    <div class="rte">
      {{ page.content }}
    </div>

  </div>

</div>
