{% layout 'cafe' %}

{% assign backgrounds = page.metafields.backgrounds %}
{% assign key = 'color' %}

<div class="grid-background color-square" style="background-color:{{ backgrounds.color }};"></div>

<div class="grid">

  <div class="grid-item large--two-thirds push--large--one-twelfth">
    {% comment %}
      Regular page content goes here.
    {% endcomment %}
    <div class="rte">
      {{ page.content }}
    </div>

  </div>

</div>
