<div style="margin: 2em 3em 4em 3em;">
  <div style="margin: 0 0 2em 0;" >
    <img src="https://cdn.shopify.com/s/files/1/1749/0187/files/keppler-koffie-logo-M.png?6617887708335367345" style="width: 10rem;"><br />
  </div>

  {% if billing_address %}
    <p style="float: right; margin: 0 0 1em 0;">
      Factuuradres:<br/><br/>
      <strong>{{ billing_address.name }}</strong><br/>
      {% if billing_address.company %}
        {{ billing_address.company }}<br/>
      {% endif %}
      {{ billing_address.street }}<br/>
      {{ billing_address.city }}
      {{ billing_address.province_code }}
      {{ billing_address.zip | upcase }}<br/>
      {{ billing_address.country }}
    </p>
  {% endif %}

  <p style="margin: 0 0 1.5em 0;" >
    {{ shop.name }}<br/>
    {{ shop.address }}<br/>
    {{ shop.zip | upcase }} {{ shop.city }}<br/>
  </p>

  <div style="clear: both; margin: 0 0 1.5em 0;" >
    <strong>Factuurdatum:</strong> {{ "now" | date: "%d/%m/%y" }}<br />
    <strong>Ordernummer:</strong> {{ order_name }}
  </div>

  <hr />

  <h3 style="margin: 1em 0 1em 0; font-weight: normal;">Bestelling</h3>

  <table class="table-tabular" style="margin: 0 0 1.5em 0;">
    <thead>
      <tr>
        <th>Aantal</th>
        <th>Artikel</th>
        {% if show_line_item_taxes %}
        <th>BTW</th>
        {% endif %}
        <th>Prijs</th>
      </tr>
    </thead>
    <tbody>
      {% for line_item in line_items %}
        <tr>
          <td>{{ line_item.quantity }} x</td>
          <td><b>{{ line_item.title }}</b></td>
          {% if line_item.tax_lines %}
            <td>
              {% for tax_line in line_item.tax_lines %}
                {{ tax_line.price | money }} {{ tax_line.title }}<br/>
              {% endfor %}
            </td>
          {% endif %}
          <td>
            {% if line_item.original_price != line_item.price %}
              <s>{{ line_item.original_price | money }}</s>
            {% endif %}
            {{ line_item.price | money }}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {% if transactions.size > 1 %}
    <h3 style="margin: 1em 0 1em 0; font-weight: normal;">Transacties</h3>
    <table class="table-tabular" style="margin: 0 0 1.5em 0;">
      <thead>
        <tr>
          <th>Type</th>
          <th>Bedrag</th>
          <th>Soort</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        {% for transaction in transactions %}
          <tr>
            <td>{{ transaction.gateway | payment_method }}</td>
            <td>{{ transaction.amount | money }}</td>
            <td>{{ transaction.kind }}</td>
            <td>{{ transaction.status }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}

  <h3 style="margin: 1em 0 1em 0; font-weight: normal;">Betaling</h3>

  <table class="table-tabular" style="margin: 0 0 1.5em 0;">
    <tr>
      <td>Subtotaal:</td>
      <td>{{ subtotal_price | money }}</td>
    </tr>
    {% for discount in discounts %}
    <tr>
      <td>Inclusief korting "{{ discount.code }}"</td>
      <td>{{ discount.savings | money }}</td>
    </tr>
    {% endfor %}
    <tr>
      <td>Totaal BTW:</td>
      <td>{{ tax_price | money }}</td>
    </tr>
    {% if shipping_address %}
      <tr>
        <td>Verzending:</td>
        <td>{{ shipping_price | money }}</td>
      </tr>
    {% endif %}
    <tr>
      <td><strong>Totaal:</strong></td>
      <td><strong>{{ total_price | money }}</strong></td>
    </tr>
    {% if total_paid != total_price %}
      <tr>
        <td><strong>Totaal voldaan:</strong></td>
        <td><strong>{{ total_paid | money }}</strong></td>
      </tr>
      <tr>
        <td><strong>Te betalen:</strong></td>
        <td><strong>{{ total_price | minus: total_paid | money }}</strong></td>
      </tr>
    {% endif %}
  </table>

  {% if note %}
    <h3 style="margin: 1em 0 1em 0; font-weight: normal;">Opmerkingen</h3>
    <p>{{ note }}</p>
  {% endif %}

  {% if shipping_address %}
    <h3 style="margin: 1em 0 1em 0; font-weight: normal;">Verzending</h3>

    <div style="margin: 0 0 1em 0; padding: 1em; border: 1px solid black;">
      <strong>{{ shipping_address.name }}</strong><br/>
      {% if shipping_address.company %}
        {{ shipping_address.company }}<br/>
      {% endif %}
      {{ shipping_address.street }}<br/>
      {{ shipping_address.city }}
      {{ shipping_address.province_code }}
      {{ shipping_address.zip | upcase }}<br/>
      {{ shipping_address.country }}
    </div>
  {% endif %}

  <p style="font-size: 0.9em;">Vragen over deze factuur? Stuur een mailtje naar <a href="mailto:{{ shop.email }}" style="font-size: 1em;">{{ shop.email }}</a> of&nbsp;bel&nbsp;<a href="tel:+3120 737 08 38" style="font-size: 1em;">020&nbsp;737&nbsp;08&nbsp;38</a>.</p>
</div>
